<div class="hd-order">
    <div class="info">
        <div class="address">
            <p>向军 先生 18600276067</p>
            <p>北京市朝阳区后盾IT教育</p>
        </div>
        <div class="times">
            <span>送达时间</span>
            <span class="desc">30分钟后送达</span>
        </div>
    </div>
    <div class="goods">
        <ul>
            <li>
                <h2>这是一个好菜哟</h2>
                <div class="pic">
                    <img src="src/static/images/cover.jpg">
                    <div>
                        属性在当灵活容器内的各项没有占用交叉轴上所有可用的空间时对齐容器内的各项
                        <p>
                            <span class="price">￥23</span>
                            <span class="plus"><i class="fa fa-plus-circle"></i></span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <h2>这是一个好菜哟</h2>
                <div class="pic">
                    <img src="src/static/images/cover.jpg">
                    <div>
                        属性在当灵活容器内的各项没有占用交叉轴上所有可用的空间时对齐容器内的各项
                        <p>
                            <span class="price">￥23</span>
                            <span class="plus"><i class="fa fa-plus-circle"></i></span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>