.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.houdun {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
