{template 'member', 'header'}
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<div id="memberArea">
	{template 'member', 'left'}
	<div class="col-auto">
		<div class="col-1 ">
			<h5 class="title">{L('select_site')}</h5>
			<div class="content">
			<BR>
			<form method="post" action="" id="myform" name="myform">
				<table width="100%" cellspacing="0" class="table-list">
				<script language="JavaScript">
				<!--
					function c_c(siteid) {
						location.href='index.php?m=member&c=content&a={ROUTE_A}&siteid='+siteid;
					}
				//-->
				</script>
				<thead>
				<tr>
				<th >{L('site_name')}</th>
				<th>{L('site_info')}</th>
				<th>{L('select')}</th>
				</thead>
				<tbody>
					{loop $sitelist $k $v}
					<tr>
						<td width="200" align="right">{$v['name']}：</td> 
						<td>{$v['description']}</td>
						<td align="center"><input type="radio" value="{$v[siteid]}" onclick="c_c(this.value)"></td>
					</tr>
					{/loop}
				</tbody>
				</table>
			</form>

			</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
		</div>
	</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}