@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\000031}}
* {
  margin: 0px;
  padding: 0px;
}
/*总的容器*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\000033}}
.swiper-container {
  position: relative;
}
/*音乐图标*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\000037}}
.music_logo {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background: url(../images/small/music.gif) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes zhuan {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000315}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000318}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000321}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000325}}
.music_logo #music_click {
  max-width: 40px;
  max-height: 40px;
  display: block;
  line-height: 80px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-transition: 5s;
          transition: 5s;
  -webkit-animation: zhuan 3s infinite linear;
          animation: zhuan 3s infinite linear;
}
/*每页 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000337}}
.swiper-slide {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000342}}
.one {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000345}}
.one .content {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000349}}
.one .content .cover {
  width: 90vw;
  height: 90vh;
  opacity: 0.5;
  background: black;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000355}}
.one .content .art {
  width: 90vw;
  height: 90vh;
  padding: 5vw;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000360}}
.one .content .art h1 {
  color: #E3E4E5;
  font-size: 10vw;
  line-height: 10vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000364}}
.one .content .art h1 img {
  width: 18vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000368}}
.one .content .art hr {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000371}}
.one .content .art p {
  color: #ccc;
  text-indent: 2em;
  line-height: 8vw;
  font-size: 5.5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000377}}
.one .content .art .airplane {
  width: 25vw;
  height: 25vw;
  background: url(../images/small/airplane.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2vh;
  right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000389}}
.two {
  background: url(../images/bg/bg2.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\0000392}}
.two .top {
  width: 88vw;
  height: 22vw;
  position: relative;
  margin: 0 auto;
  margin-top: 5vh;
  opacity: 0.9;
  overflow: hidden;
  border-radius: 10px;
  background: url(../images/small/rain.png) no-repeat center;
  background-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003101}}
.two .top h1 {
  color: white;
  font-size: 10vw;
  line-height: 13vh;
  text-indent: 1em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003108}}
.two .top img {
  width: 21.5vw;
  height: 21.5vw;
  position: absolute;
  bottom: 0px;
  left: 500px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003115}}
.two .content {
  width: 88vw;
  height: 78vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-top: 2vh;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003120}}
.two .content li {
  width: 80vw;
  height: 8vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1.5vh;
  list-style: none;
  text-align: center;
  line-height: 8vh;
  color: #E8E7E4;
  font-size: 6vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003131}}
.three {
  background: url(../images/bg/bg3.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003134}}
.three h1 {
  color: #39BD8D;
  text-align: center;
  margin-top: 10vh;
  font-size: 8vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003140}}
.three h3 {
  color: #828282;
  font-size: 5vw;
  text-align: center;
  line-height: 10vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003146}}
.three .content {
  width: 95vw;
  height: 70vh;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003149}}
.three .content li {
  list-style: none;
  width: 35vw;
  height: 35vw;
  float: left;
  margin-left: 8vw;
  margin-top: 6vh;
  border-radius: 50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003156}}
.three .content li img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 2.5vw;
  box-shadow: 0px 0px 50px 10px #39BD8D;
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003164}}
.three .content li span {
  display: block;
  width: 18vw;
  height: 10vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 4vw;
  margin-top: 2vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003178}}
.four {
  background: url(../images/bg/bg4.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003181}}
.four .trans {
  width: 42vw;
  height: 42vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 20vw;
}
@-webkit-keyframes trans {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003190}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003191}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003192}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes trans {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003190}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003191}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003192}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003194}}
.four .trans .zhuan {
  width: 42vw;
  height: 42vw;
  border: 3px dotted #ccc;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  top: -8px;
  -webkit-animation: trans 5s 1s linear infinite ;
          animation: trans 5s 1s linear infinite ;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003202}}
.four .trans img {
  display: block;
  width: 39vw;
  height: 39vw;
  margin: 0 auto;
  margin-top: 1.5vw;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 10px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003210}}
.four .trans .line {
  width: 2px;
  height: 150px;
  background: white;
  position: absolute;
  left: 21vw;
  top: -42vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003217}}
.four .ads {
  text-align: center;
  font-size: 10vw;
  margin-top: 20vh;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003223}}
.four .word {
  text-align: center;
  font-size: 4vw;
  margin-top: 3vh;
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003229}}
.four .link {
  width: 80vw;
  height: 15vh;
  margin: 0 auto;
  margin-top: 12vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003233}}
.four .link li {
  list-style: none;
  width: 20vw;
  height: 20vw;
  float: left;
  margin-left: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing2\/css\/style\.less}line{font-family:\00003238}}
.four .link li img {
  width: 20vw;
  height: 20vw;
  border: 2px solid white;
  border-radius: 50%;
}
