.template.action {
  border: solid 2px #00a0e9;
}
.template .panel-heading {
  padding: 0px;
}
.template .navbar-default {
  margin-bottom: 0px;
  border: none;
}
.template .thumbnail {
  height: 300px !important;
  width: 180px;
  overflow: hidden;
  float: left;
  margin: 3px 7px;
}
.template .thumbnail h5 {
  font-size: 14px;
  overflow: hidden;
  height: 25px;
  margin: 3px 0px;
  line-height: 2em;
}
.template .thumbnail img {
  height: 225px;
  max-width: 170px;
  border-radius: 3px;
}
.template .thumbnail .caption {
  padding: 0px;
  margin-top: 8px;
  position: relative;
}
.template .thumbnail .caption .label {
  position: absolute;
  top: -30px;
  left: 10px;
}
