A {
	FONT-SIZE: 10pt; COLOR: #383636; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
; color: #383636
}
A:active {
	FONT-SIZE: 10pt; COLOR: #383636; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 10pt
}
TD {
	FONT-SIZE: 10pt; LINE-HEIGHT: 14pt
}
.bi-blue {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #00AEEF;
	text-decoration: none;
}
LI {
	FONT-SIZE: 20pt
}
input	{ font: 10pt Tahoma, Verdana; }
SELECT {
	FONT-SIZE: 10pt
}
.top_thead {margin:0px;padding:3px;color:#ffffff;vertical-align:middle;background-image:url(top_bg2.gif);background-repeat:repeat-x; }
.top_thead a:link, .top_thead a:visited, .top_thead a:active {text-decoration:none;color:#ffffff;background-color:transparent; }
.top_thead a:hover {margin:0px;text-decoration:underline;color:#dddddd; }
.td_css1 {border-left:#FF4400 1px solid;border-right:#FF4400 1px solid;border-top:#FF4400 1px solid; }
.td_css2 {border-left:#FF4400 1px solid;border-right:#FF4400 1px solid;border-BOTTOM:#DEDEDE 1px solid; }
.b-form {
	font-size: 10pt;
	color: #6C6451;
	text-decoration: none;
	background-color: #EDA58A;
	border: 1px solid #BC4F25;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
.b-form2 {
	font-size:10pt;
	color: #444444;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
