div.hd-mobile-header-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
div.hd-mobile-header-container div.hd-mobile-header {
  display: flex;
  height: 45px;
  border-bottom: solid 1px #ddd;
  justify-content: center;
}
div.hd-mobile-header-container div.hd-mobile-header .left-fa {
  width: 50px;
  font-size: 30px;
  text-align: center;
}
div.hd-mobile-header-container div.hd-mobile-header .left-fa a {
  color: #666;
}
div.hd-mobile-header-container div.hd-mobile-header .hd-mobile-header-title {
  flex: 1;
  margin-left: -30px;
  line-height: 3em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
