//会员中心首页(移动端)
@import "common";
.ucenter {
  #module-lists {
    .list-group {
      .list-group-item {
        border-radius : 0px;
        a {
          font-size : 12px;
          padding   : 12px 15px;
          color     : #333333;
        }
      }
    }
  }
  .list-group {
    margin-bottom : 5px;
    a {
      color : #555555;
    }
  }
  //头部用户信息
  .header {
    height          : 110px;
    background-size : 100%;
    color           : #ffffff;
    overflow        : hidden;
    div.ico {
      img {
        border-radius : 50%;
        width         : 65px;
        height        : 65px;
        border        : solid 2px #ffffff;
        margin-top    : 30px;
      }
    }
    div.user {
      padding-top : 20px;
      text-align  : left;
      font-size   : 12px;
      a {
        color : #ffffff;
      }
      h2 {
        font-size : 16px;
      }
      div {
        padding-right : 0px;
      }
    }
    .setting {
      color      : #ffffff;
      margin-top : 50px;
      font-size  : 22px;
    }
  }
  //头部水平排列有图标的块
  div.pay {
    padding       : 10px 0px;
    background    : #ffffff;
    clear         : both;
    border-radius : 0px;
    margin-bottom : 5px;
    div {
      padding    : 0px;
      text-align : center;
      a {
        color : #333333;
      }
      i {
        font-size     : 22px;
        display       : block;
        color         : #aaaaaa;
        margin-bottom : 6px;
      }
      font-size  : 12px;
    }
  }
}


