#rtt{
    width:50px;
    height:60px;
    position:fixed;
    left:calc((100% - 1280px) / 2 + 1310px);
    bottom:50px;
    border-radius: 5px;
    z-index:1000;
    display:none;
    font: bold 12px/1.5em "Microsoft YaHei";
    color: #999;
}
#rtt p{
    width: 100%;
    height: 100%;
    background:url('../images/top.png') top center;
    background-size:cover;
}
#rtt:hover{
    cursor: pointer;
    color: #06f;
}
#rtt:hover p{
    background:url('../images/topOn.png') top center;
    background-size:cover;
}
h1{text-align:center;}
.headtop{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.header{
    width: 1280px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    /*position: absolute;
    top: 0;
    left: calc((100% - 1280px) / 2);*/
    z-index: 99;
    background: white;
}
.header .left{
    width: 213px;
    height: 80px;
    float: left;
    background: #f22f16 url("../images/houdunwang.png") no-repeat center center;
}
.header .left a{
    display: block;
    width: 100%;
    height: 100%;
}
.header .left a img{
    display: block;
    width: 60%;
    padding-top: 5%;
    padding-left: 10%;
}
.header .right{
    width: 72%;
    float: right;
}
.header .right ul.menu{
    width: 100%;
    overflow: hidden;
}
.header .right ul.menu li{
    display: block;
    width: 12%;
    overflow: hidden;
    float: left;
    position: relative;
}
.header .right ul.menu li a{
    width: 100%;
    height: 80px;
    line-height: 80px;
    float: left;
    text-align: center;
    color: #333;
}
.header .right ul.menu li a.current{
    /*background: #f22f16;*/
    color: #f22f16;
}
.header .right ul.menu li:hover a.topa{
    color: #f22f16;
    /*background: #06f;*/
}
.header .right ul.menu li ul{
    width: 100%;
    overflow: hidden;
    display: none;
    position: relative;
    z-index: 999;
    background: rgba(0,0,0,0.6);
    color: white;
}
.header .right ul.menu li ul li{
    display: block;
    width: 80%;
    margin: 5% 10%;
    text-align: center;
    /*border: solid 1px #06f;*/
    border-radius: 20px;
    font-size: 14px;
}
.header .right ul.menu li ul li a{
    height: 2.5em;
    line-height: 2.5em;
    color: white;
}
.header .right ul.menu li ul li:hover a{
    color: #1c8cff;
    /*background: rgba(0,0,0,0.8);*/
}
.sjheader{
    display: none;
}
.sjheader .menu{
    display: block;
    font-size: 16px;
    float: right;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    /*border: solid 1px red;*/
    background: url("../images/mobile/menu.png") no-repeat;
}
.sjheader .menu a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.hylx{
    display: none;
}
.lastdiv{
    display: none;
}
@media screen and (max-device-width: 962px){
    .sjheader .menu {
        text-align: right;
    }
}
/*鍒嗕韩*/
.share{
    width: 100%;
    /*height: 50px;*/
    background: #666;
}
.share .center{
    width: 1280px;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}
.share .center .left{
    width: 30%;
    float: left;
}
.share .center .left img{
    width: 40%;
    margin-top: 10px;
}
.share .center .right{
    float: right;
}
.share .center .right span{
    display: block;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    color: #ccc;
}
.share .center .right a{
    display: inline-block;
    width: 40px;
    height: 35px;
    float: left;
    margin-right: 20px;
    padding-left: 0;
}
.share .center .right .qq{
    background: url(../images/fenXiang.png) no-repeat 0 0;
}
.share .center .right .weixin{
    background: url(../images/fenXiang.png) no-repeat -60px 0;
}
.share .center .right .qzone{
    background: url(../images/fenXiang.png) no-repeat -125px 0;
}
.share .center .right .friend{
    background: url(../images/fenXiang.png) no-repeat -190px 0;
}
.share .center .right .tsina{
    background: url(../images/fenXiang.png) no-repeat -260px 0;
}
.share .center .right .tqq{
    background: url(../images/fenXiang.png) no-repeat -325px 0;
}
/*鍒嗕韩*/
/*搴曢儴鍖哄煙*/
.foot{
    width: 100%;
    background: #333;
}
.foot .center{
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}
.foot .center .company{
    width: 25%;
    float: left;
    text-align: left;
}
.foot .center .lianxi{
    width: 25%;
    float: left;
    text-align: left;
}
.foot .center .address{
    width: 25%;
    float: left;
    text-align: left;
}

.foot .center .follow{
    width: 25%;
    float: left;
    text-align: left;
}
.foot .center .gzherweima{
    width: 200px;
    height: 230px;
    position: fixed;
    left: calc((100% - 200px) / 2);
    /*bottom: 430px;*/
    background: white;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
    display: none;
    border-radius: 5px;
}
.foot .center .gzherweima img{
    display: block;
    width: 90%;
    margin: 10px auto;
}
.foot .center .gzherweima p{
    text-align: center;
    color: #333;
    font-size: 14px;
}
.foot .center .title{
    width: 100%;
    padding-bottom: 50px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.foot .center ul li{
    display: block;
    width: 100%;
    float: left;
    line-height: 2em;
    font-size: 16px;
    color: #ccc;
}
.foot .center ul li a{
    color: #ccc;
}
.foot .center .tsina{
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    background: url("../images/follow.png") no-repeat -57px 0;
    margin-right: 20px;
}
.foot .center .wechat:hover{
    cursor: pointer;
}
.foot .center .gzweixin{
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    background: url("../images/follow.png") no-repeat 0 0;
}
.foot .center .phone:hover{
    cursor: pointer;
}
.foot .bottom{
    width: 100%;
    height: 100px;
    background: #333;
    border-top: solid 1px #666;
}
.copyright{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ccc;
    text-align: center;
}
/*搴曢儴鍖哄煙*/

@media screen and (max-device-width : 768px){
    #rtt{
        display: none;
    }
    .headtop{
        display: none;
    }

    .sjheader{
        width: calc(100% - 20px);
        background: url("../images/mobile/daohangBg.jpg") repeat-y;
        background-position: 100%;
        padding: 10px;
        overflow: hidden;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999999;
    }
    .sjheader .left{
        width: 25%;
        height: 40px;
        float: left;
        margin-right: 0;
    }
    .sjheader .left a{
        display: block;
        width: 100%;
    }
    .sjheader .left a img{
        width: 100%;
        margin-top: 5px;
    }
    .sjheader .center{
        width: 50%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: white;
        float: left;
        text-align: center;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow:hidden;
    }
    .sjheader .right{
        width: 20%;
        height: 30px;
        margin-top: 8px;
        float: right;
        text-align: right;
    }


    .hylx{
        display: block;
        width: 100%;
        padding: 20px 0;
    }
    .hylx img{
        width: 80%;
    }
    .hylx .xinxi{
        width: 90%;
        margin-left: 8%;
        line-height: 2em;
        font-size: 18px;
    }
    .hylx .email,.hylx .phone{
        width: 90%;
        margin-left: 8%;
        color: #999;
        line-height: 2em;
        font-size: 16px;
    }
    .lastdiv{
        display: block;
        width: 100%;
        background: #333;
        padding-bottom: 20px;
    }
    .lastdiv .company{
        width: 92%;
        height: 20px;
        line-height: 20px;
        margin: 0 auto;
        padding: 20px 0 10px 0;
        font-size: 16px;
        color: white;
    }
    .lastdiv .company img{
        width: 24%;
        margin-right: 5px;
    }
    .lastdiv .copyr{
        width: 92%;
        line-height: 1.2em;
        margin: 0 auto;
        font-size: 12px;
        color: white;
    }
    .lastdiv .co{
        width: 92%;
        line-height: 1.2em;
        margin: 0 auto;
        font-size: 12px;
        color: white;
    }
    .lastdiv .lastshare{
        width: 92%;
        margin: 0 auto;
        padding: 10px 0;
        overflow: hidden;
    }
    /*.lastdiv .lastshare .weixin{
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        background: url("../images/follow.png") no-repeat 0 0;
        margin-right: 20px;
    }
    .lastdiv .lastshare .weibo{
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        background: url("../images/follow.png") no-repeat -58px 0;
        margin-right: 20px;
    }*/


    .lastdiv .lastshare a{
        display: inline-block;
        width: calc(100% / 7);
        height: 35px;
        float: left;
        margin-right: 5px;
        padding-left: 0;
    }
    .lastdiv .lastshare .qq{
        background: url(../images/fenXiang.png) no-repeat 0 0;
    }
    .lastdiv .lastshare .weixin{
        background: url(../images/fenXiang.png) no-repeat -60px 0;
    }
    .lastdiv .lastshare .qzone{
        background: url(../images/fenXiang.png) no-repeat -125px 0;
    }
    .lastdiv .lastshare .friend{
        background: url(../images/fenXiang.png) no-repeat -190px 0;
    }
    .lastdiv .lastshare .tsina{
        background: url(../images/fenXiang.png) no-repeat -260px 0;
    }
    .lastdiv .lastshare .tqq{
        background: url(../images/fenXiang.png) no-repeat -325px 0;
    }

}














