/*.header{
    position: absolute;
    top: -86px;
}*/
.slider{
	width: 100% !important;
	height: 714px !important;
	position: relative;
	overflow: hidden;
	padding-top: 80px;
}
.slider .sliderimgs{
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
	display: none;
}
.slider .sliderimgs:first-child{
	display: block;
}
.slider .zuojiantou{
	display: block;
	width: 80px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/zuojiantou.png") no-repeat;
	background-position: 50%;
	/*display: none;*/
}
.slider .youJiantou{
	display: block;
	width: 80px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: url("../images/youJiantou.png") no-repeat;
	background-position: 50%;
	/*display: none;*/
}
.slider ul{
	width: 30%;
	margin: 0 auto;
	position: absolute;
	left: 40%;
	bottom: 5%;
}
.slider ul li{
	display: block;
	width: calc(100% / 8);
	height: 6px;
	float: left;
	background:#bbb;
	background: white;
	opacity: 0.2;
}
.slider ul li:first-child{
	opacity: 1;
}
.slider ul li:hover{
	cursor:pointer;
}
.sjslider{
	display: none;
}
.zixun{
	width: 1280px;
	height: auto;
	margin: 20px auto;
	margin-top: 28px;
}
.zixun .news{
	width: 100%;
	overflow: hidden;
}
.zixun .top{
	margin-bottom: 30px;
}
.zixun .news .yimao_news{
	width: 413px;
	margin: 6px;
	float: left;
}
.zixun .news .yimao_news .yimaonewspic{
	display: block;
	width: 100%;
	height: 232px;
	overflow: hidden;
	position: relative;
}
.zixun .news .yimao_news img{
	width: 100%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
}
.zixun .news .yimao_news .title{
	display: block;
	width: 100%;
	margin: 20px 0;
	font: bold 18px/1.5em "Microsoft YaHei";
	line-height: 1.5em;
	color: #333;
}
.zixun .news .yimao_news .newstime{
	width: 100%;
	margin: 10px 0;
	color: #666;
	font-size: 14px;
}
.zixun .news .yimao_news .newstime .laiyuan{
	color: #0066ff;
}
.zixun .news .yimao_news .more{
	display: block;
	width: 126px;
	height: 24px;
	margin: 20px 0;
	padding: 5px 0;
	line-height: 24px;
	border-radius: 20px;
	text-indent: 2em;
	border:solid 1px #06f;
	color: #06f;
	font-size: 14px;
	position: relative;
	background: white url("../images/lanSanjiao.png") no-repeat 85% center;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
/*.zixun .news .yimao_news .more .jiantou{
	display: block;
	width: 10px;
	height: 11px;
	background: url("../images/lanSanjiao.png") no-repeat;
	position: absolute;
	right: 30px;
	top: 12px;
}*/
.zixun .news .yimao_news .more:hover{
	background:#06f url("../images/baiSanjiao.png") no-repeat 85% center;
	color: white;
	box-shadow: 3px 3px 20px rgba(0,102,255,0.5);
}

.zixun .news .yimao_news .more:hover .jiantou{
	background: url("../images/baiSanjiao.png") no-repeat;
}
.zixun .gengduo{
	display: block;
	width: 100%;
	height: 24px;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.zixun .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}

.chanpin{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.chanpin .products{
	width: 100%;
	overflow: hidden;
}
.chanpin .top{
	margin-bottom: 30px;
}
.chanpin .products .product{
	width: 413px;
	margin-right: 20px;
	float: left;
}
.chanpin .products .product:nth-child(3){
	margin-right: 0;
}
.chanpin .products .product .cpimg{
	display: block;
	width: 411px;
	height: 411px;
	overflow: hidden;
	border:solid 1px #ccc;
	position: relative;
}
.chanpin .products .product img{
	width: 100%;
	margin: auto;
	/*padding: 40px 0;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.chanpin .products .product .title{
	display: block;
	width: 100%;
	margin: 10px 0;
	font-size: 18px;
	line-height: 1.5em;
	color: #333;
}
.chanpin .products .product .newstime{
	width: 100%;
	margin: 10px 0;
	color: #666;
}
.chanpin .products .product .newstime .laiyuan{
	color: #0066ff;
}
.chanpin .products .product .more{
	display: block;
	width: 156px;
	height: 24px;
	margin: 10px 0;
	padding: 5px 0;
	line-height: 24px;
	border-radius: 20px;
	text-align: center;
	border:solid 1px #06f;
	color: #06f;
	font-size: 14px;
}
.chanpin .products .product .more:hover{
	background: #06f;
	color: white;
	box-shadow: 3px 3px 20px rgba(0,102,255,0.5);
}
.chanpin .gengduo{
	display: block;
	width: 100%;
	height: 24px;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.chanpin .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}

/*翼猫+战略*/
.zhanlue{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.zhanlue .top{
	margin-bottom: 30px;
}
.tips{
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}
.tips ul li{
	display: block;
	width: calc(25% - 20px);
	height: 266px;
	border:solid 1px #ccc;
	margin: 40px 9px;
	padding-top: 20px;
	float: left;
}
.tips ul li .dfct{
	display: block;
	width: 54px;
	height: 54px;
	margin: 0 auto;
	background: url("../images/yimaoIcon.jpg") no-repeat 0 0;
}
.tips ul li .ltgy{
	display: block;
	width: 60px;
	height: 54px;
	margin: 0 auto;
	background: url("../images/yimaoIcon.jpg") no-repeat -125px 0;
}
.tips ul li .scsy{
	display: block;
	width: 60px;
	height: 54px;
	margin: 0 auto;
	background: url("../images/yimaoIcon.jpg") no-repeat -254px 0;
}
.tips ul li .zsjm{
	display: block;
	width: 64px;
	height: 54px;
	margin: 0 auto;
	background: url("../images/yimaoIcon.jpg") no-repeat -380px 0;
}
.tips ul li .title{
	width: 30%;
	margin: 10% auto;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}
.tips ul li .small{
	font-size: 15px;
	line-height: 1.5em;
	color: #999;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.zhanlue .gengduo{
	display: block;
	width: 100%;
	height: 24px;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.zhanlue .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}
/*翼猫+战略*/
/*视频中心*/
.shipin{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.shipin .bottom{
	width: 100%;
	height: 305px;
	overflow: hidden;
}
.shipin .top{
	margin-bottom: 30px;
}
.shipin .bottom .sp{
	width: 305px;
	height: 305px;
	margin-right: 20px;
	float: left;
	position: relative;
	overflow: hidden;
}
.shipin .bottom .sp:nth-child(4){
	margin-right: 0;
}
.shipin .bottom .sp .spimg{
	height: 305px;
}
.shipin .bottom .sp .center{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;	
	text-align: center;
	background: rgba(0,0,0,0.3);
}
.shipin .bottom .sp .center a{
	display: block;
	width: calc(100% - 40px);
	height: 70px;
	margin-top: 110px;
	margin-left: 20px;
	/*margin-left: 75px;*/
}
.shipin .bottom .sp .center a img{
	width: 60px;
	height: 60px;
}
.shipin .bottom .sp .center a.title{
	display: block;
	font-size: 20px;
	color: white;
	margin-top: 15px;
}
.shipin .gengduo{
	display: block;
	width: 100%;
	height: 24px;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.shipin .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}
/*视频中心*/
/*售后服务*/
.shouhou{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.shouhou .top{
	margin-bottom: 30px;
}
.shouhou .bottom{
	width: 100%;
	overflow: hidden;
}
.shouhou .bottom .fuwu{
	width: calc(50% - 83px);
	height: 200px;
	margin: 40px;
	border:solid 1px #ccc;
	position: relative;
	float: left;
}
.shouhou .bottom .fuwuall{
	width: calc(100% - 83px);
	height: 200px;
	margin: 40px;
	border:solid 1px #ccc;
	position: relative;
	float: left;
}
.shouhou .bottom .fuwu .shouhou1{
	position: absolute;
	left: -40px;
	bottom: 50px;
}
.shouhou .bottom .fuwu .title{
	position: absolute;
	left: 18%;
	top: 25%;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
.shouhou .bottom .fuwu .small{
	width: 80%;
	font-size: 14px;
	color: #999;
	position:absolute;
	left: 18%;
	top: 48%;
	line-height: 1.5em;
}

.shouhou .bottom .fuwuall .title{
	position: absolute;
	left: 8%;
	top: 25%;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
.shouhou .bottom .fuwuall .small{
	width: 80%;
	font-size: 14px;
	color: #999;
	position:absolute;
	left: 8%;
	top: 48%;
	line-height: 1.5em;
}
.shouhou .gengduo{
	display: block;
	width: 100%;
	height: 24px;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.shouhou .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}
/*售后服务*/
/*主题活动*/
.huodong{
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.huodong .top{
	width: 1280px;
	margin:0 auto;
	margin-bottom: 30px;
}
.huodong .bottom{
	overflow: hidden;
}
.huodong .bottom .active{
	width: 50%;
	height: 450px;
	float: left;
	position: relative;
	overflow: hidden;
}
.huodong .bottom .active img{
	width: 100%;
	margin: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.huodong .bottom .active .back{
	width: 100%;
	height: 410px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url("../images/zhezhao.png") repeat-x;
	/*opacity: 0.1;*/
}
.huodong .bottom .active .title{
	position: absolute;
	left: 5%;
	bottom: 16%;
	color: white;
	font: bold 20px/1.5em "Microsoft YaHei";
}
.huodong .bottom .active .newstime{
	position: absolute;
	left: 5%;
	bottom: 10%;
	font-size: 14px;
	color: white;
}
.huodong .gengduo{
	display: block;
	width: 1280px;
	height: 24px;
	margin: 0 auto;
	margin-top: 50px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px 0;
	border:solid 1px #333;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	color: #333;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.huodong .gengduo:hover{
	background:#333;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	border:solid 1px #333;
	box-shadow: 3px 3px 20px rgba(51,51,51,0.5);
}
/*主题活动*/
/*关于翼猫*/
.max_about{
	border-bottom: solid 1px #ccc;
}
.about{
	width: 1280px;
	margin: 50px auto;
	overflow: hidden;
}
.about .left{
	width: calc(50% - 25px);
	float: left;
}
.about .left .title{
	text-align: right;
	font-size: 32px;
	font-weight: 700;
	color: #333;
	line-height: 1.5em;
	padding: 30px 0;
	border-bottom: solid 4px #333;
}
.about .left .aboutus{
	padding-top: 30px;
	font-size: 18px;
	color: #999;
	line-height: 1.8em;
}
.about .more{
	display: block;
	width: 156px;
	height: 24px;
	margin: 10px 0;
	padding: 5px 0;
	line-height: 24px;
	border-radius: 20px;
	text-align: center;
	border:solid 1px #06f;
	color: #06f;
	font-size: 14px;
	float: right;
	background: white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.about .more:hover{
	background:#06f;
	/*animation:m 1s;
	-moz-animation:m 1s;
	-webkit-animation:m 1s;*/
	color: white;
	box-shadow: 3px 3px 20px rgba(0,102,255,0.5);
}
.about .right{
	width: calc(50% - 25px);
	height: 600px;
	float: right;
	position: relative;
}
.about .right img{
	width: 90%;
	margin-top: 100px;
	margin-left: 5%;
}
.about .right .about1{
	position: absolute;
	left: 0;
	top: 5%;
}
.about .right .about2{
	position: absolute;
	left: 6%;
	top: 50%;
}
.about .right .about3{
	position: absolute;
	left: calc(42% - 5px);
	top: 30%;
}
.about .right .about4{
	position: absolute;
	left: 45%;
	top: 60%;
}
/*关于翼猫*/
/*联系翼猫*/
.contact{
	width: 1280px;
	height: 600px;
	height: auto;
	margin: 60px auto;
}
.contact .top{
	width: 100%;
	margin:0 auto;
	margin-bottom: 30px;
}
.contact .bottom{
	width: 100%;
	margin: 0 auto;
}
.contact .bottom .xianlu{
	height: 60px;
}
.contact .bottom .xianlu img{
	float: left;
}
.contact .bottom .xianlu .chengche{
	float: right;
	width: calc(100% - 70px);
	height: 30px;
	margin-top: 30px;
}
.contact .bottom .map{
	width: 100%;
	height: 500px;
	margin-top: 20px;
}

/*响应开始*/
@media screen and (max-device-width : 768px){
	.slider,.zixun,.chanpin,.zhanlue,.shipin,.shouhou,.huodong,.about,.contact,.share,.foot,.header{
		display: none;
	}
	/*.sjheader{
		width: calc(100% - 20px);
		background: url("../images/mobile/daohangBg.jpg") repeat-y;
		background-position: 100%;
		padding: 10px;
		overflow: hidden;
		display: block;
	}
	.sjheader .left{
		width: 30%;
		height: 40px;
		float: left;
	}
	.sjheader .center{
		width: 50%;
		height: 40px;
		line-height: 40px;
		font-size: 24px;
		color: white;
		float: left;
		text-align: center;
	}
	.sjheader .right{
		width: 20%;
		height: 30px;
		margin-top: 8px;
		float: right;
		text-align: right;
	}*/
	.sjslider{
		width: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		padding-top: 60px !important;
	}
	.sjslider img{
		width: 100%;
	}
	
	.sjslider ul{
		width: 50%;
		margin: 0 auto;
		position: absolute;
		left: 25%;
		bottom: 5%;
	}
	.sjslider ul li{
		display: block;
		width: calc(100% / 3);
		height: 6px;
		float: left;
		background:#bbb;
		box-shadow: 3px 3px 5px;
	}
	.sjslider ul li:first-child{
		background: white;
	}
}



/*响应结束*/


/*联系翼猫*/
@keyframes m
{
0%   {opacity: 0.2}
33%  {opacity: 0.5}
66%  {opacity: 0.8}
100% {opacity: 1}
}

@-moz-keyframes m /* Firefox */
{
0%   {opacity: 0.2}
33%  {opacity: 0.5}
66%  {opacity: 0.8}
100% {opacity: 1}
}

@-webkit-keyframes m /* Safari and Chrome */
{
0%   {opacity: 0.2}
33%  {opacity: 0.5}
66%  {opacity: 0.8}
100% {opacity: 1}
}




















