<!-- 固定定位，返回顶部按钮 -->
<div id='rtt'><p></p>返回顶部</div>
<!-- 固定定位，返回顶部按钮 -->

<!-- 头部开始 -->
<div class="headtop">
    <div class="header">
        <div class="left">
            <a href="{WEB_PATH}"></a>
        </div>
        <div class="right">
            <ul class="menu">
                <li><a href="{WEB_PATH}" class="current" class="topa">首页</a></li>
                {pc:content action="category" num="2"}
                {loop $data $k $v}
                <li>
                    <a href="{$v['url']}" class="topa">{$v['catname']}</a>
                    <ul>
                        {pc:content action="category" catid="$v['catid']"}
                        {loop $data $vv}
                        <li><a href="{$vv['url']}">{$vv['catname']}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </li>
                {/loop}
                {/pc}
                <!--<li>-->
                <!--<a href=""   class="topa">校园活动</a>-->
                <!--</li>-->
                {pc:content action="category" catid="16"}
                {loop $data $k $v}
                <li><a href="{$v['url']}" class="topa">{$v['catname']}</a></li>
                {/loop}
                {/pc}

                <li><a href="http://www.houdunwang.com" target="_blank" class="topa">实战培训</a></li>
                <li><a href="http://www.houdunren.com" target="_blank" class="topa">在线视频</a></li>
                <li><a href="http://bbs.houdunwang.com/portal.php" target="_blank" class="topa">论坛讨论</a></li>
            </ul>
        </div>
    </div>
</div>