{template "content","header"}
<!--main-->
<div class="main photo-channel">
	<div class="col-left photo-slide">
        <div class="content">
            <div class="FocusPic">
            	<div id="photo-slide">
                    <div class="changeDiv">
					{pc:content action="position" posid="8" order="listorder DESC" sort="desc" num="9"}
						{loop $data $r}
                        <a href="{$r['url']}" title="{$r['title']}"><img src="{thumb($r['thumb'],435, 290)}" alt="{$r['title']}" /></a>
						{/loop}
					{/pc}
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript"> 
$(function(){
	slide("#photo-slide","cur",435,324,1);
})
</script>
    </div>
    <div class="photo-hots">
        <div class="icon"></div>
        	<h4>热点关注</h4>
        	<ul class="content photo-hot picbig">
			{pc:content action="hits" catid="$catid" num="6" order="monthviews DESC"}
				{loop $data $r}
					<li>
                    <div class="img-wrap">
                        <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{thumb($r[thumb],150,112)}" /></a>
                    </div>
                    <a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],16, '')}</a>
                </li>
				{/loop}
			{/pc}
            </ul>
    </div>
    <div class="col-auto" style="height:336px">
    <div class="box">
            <h5 class="title-2">图片排行</h5>
            <ul class="content digg">
             {pc:content action="hits" catid="$catid" num="8" order="views DESC" cache="3600"}
				{loop $data $r}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{$r[title]}</a></li>
				{/loop}
			{/pc}
            </ul>
    </div>
    <div class="bk6"></div>
    <script language="javascript" src="{APP_PATH}caches/poster_js/3.js"></script>
    </div>
    <div class="bk10"></div>
	{loop $array_child $cid}
	{php $chlidids = explode(',', $CATEGORYS[$cid][arrchildid])}
	{php unset($chlidids[array_search($cid, $chlidids)]);$n=1;}
    <div class="photo-cat">
        <div class="content">
        	<h5>
            <a href="{$CATEGORYS[$cid][url]}"><strong>{$CATEGORYS[$cid][catname]}</strong></a>
			<span class="blue">
            <a href="{$CATEGORYS[$cid][url]}" class="more">更多>></a>
			{loop $chlidids $chlidid}
            {if $n!=1} | {/if}
				<a href="{$CATEGORYS[$chlidid][url]}">{$CATEGORYS[$chlidid][catname]}</a>
			{/loop}
			</span>
			</h5>
            <ul class="photo-list picbig">
				{pc:content action="lists" catid="$cid" num="10" order="id DESC"}
					{loop $data $r}
					<li>
                    <div class="img-wrap">
                        <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{thumb($r[thumb],150,112)}" /></a>
                    </div>
                    <a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],28)}</a>
					</li>
					{/loop}
				{/pc}
            </ul>
        </div>
    </div>
	<div class="bk10"></div>
	{/loop}
</div>
{template "content","footer"}