<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{$catname}- 下载频道_详情页</title>
<!--[if IE 5]>
<style type="text/css">
body,html{text-align:center}
*{ text-align:left}
.header .search .text{height:26px;}
</style>
<![endif]-->
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}download.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
</head>
<body>
	<style type="text/css">
    	 body, html{ background:#FFF!important;}
    </style>
    {if $allow_visitor=='1'}
	<a href="{$downurl}" class="xzs_btn"></a>
	{else}
	<CENTER><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
	{/if}
</body>
</html>
