<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>phpcms V9</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog_simp.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<style type="text/css">
.header,.main,.footer{width:940px;margin:0 auto; overflow:auto}
</style>
</head>
<body class="rss-channel">
    <div class="body-top special-body-top">
        <div class="content">
        <span class="rt"><script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="300" height="24" frameborder="0" scrolling="no"></iframe>')</script></span>
            <a href="" class="logo"><img src="{IMG_PATH}v9/logo.jpg" height="30" /></a><div class="nav"><a href="#">首页</a><span>|</span>
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
            <a href="{$r[url]}">{$r[catname]}</a><span>|</span>
            {/loop}
            {/pc}
            </div>
        </div>
    </div>
    <div class="header">
</div>