{template "content","header"}
<link href="{CSS_PATH}vms/vms.css" rel="stylesheet" type="text/css" />
<div class="clr ct show_pg">
	<div class="crumbs"><a href="{APP_PATH}">首页</a><span> &gt; </span>{catpos($catid)}&gt;  正文</div>
	<div class="ad"><a href="#" title="text"><img src="{IMG_PATH}vms/vms/ad960x40.jpg" width="960" height="40"></a></div>
    <div class="lty1">
    	<div class="clr">
    <div class="zj"><h5>{$title}</h5></div>
    <div class="clr xxg">
        <div class="clr">总播放：<span id="hits"></span>  <span>|</span>  更新时间：{$inputtime}</div>
    </div>
    </div>
    	<div class="plbox">
 <embed src="{pc_base::load_config('ku6server', 'player_url')}MkSb6DCJMuQSFrG8/style/0rbBFMwIVDQ./" quality="high" width="600" height="500" align="middle" allowScriptAccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></embed> 
		</div>
        <div class="sr">
        	<ul class="srli">
                <li>
					<a href="#" title="text" class="xx"></a>
                	<strong>分享视频：</strong><a href="#" title="text" class=""></a> 
<!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-5.jpg" />
		<a class="shareCount"></a>
	</div>
<script type="text/javascript" id="bdshare_js" data="type=button" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
                </li>
                <li>
                <strong>嵌入代码：</strong>
                 <input name="radio" type="radio" value="1" onclick=""> 
				 <label>网页代码</label><input name="radio" type="radio" value="2" onclick="">
				 <label>脚本代码</label>
                 </li>
              <li>
                	<input name="url" id="url" type="text" class="fz_ipt"><input type="button" class="fz_btn" value="复制">
                </li>
            </ul>
        </div>
        <div class="clr bfj">
		{if $video[data]}
		{loop $video[data] $v}
         	<a href="{$v[url]}" >{$v[title]}</a>
		{/loop}
		{/if}
        </div> 
		 <div class="clr mgt10 mgb10">
			{if $allow_comment && module_exists('comment')}
      <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  
	<div class="bk10"></div>
      <div class="box">
        		<h5>评论排行</h5>
				 {pc:comment action="bang" siteid="$siteid" cache="3600"}
            	<ul class="content list blue f14 row-2">
				{loop $data $r}
                	<li>·<a href="{$r[url]}" target="_blank">{str_cut($r[title], 40)}</a><span>({$r[total]})</span></li>
					{/loop}
                </ul>
				{/pc}
        </div>
        {/if}
		 </div>
    </div>
  <div class="wp lty2">
  
  
  
    <div class="box0">
    	<div class="nav">
        	<span class="more"><input name="" type="checkbox" value="" id="lb">  <label for="lb">联播</label></span>
            <h5>专辑列表</h5>
        </div>
        <div class="bct">
        	<div class="lbbox">
            <ul class="c1 c2">
            
{pc:special action="content_list" specialid="19" listorder="2" num="3"}
{loop $data $r}		
			<li>
			<div class="clr h77">
			<a href="{$r[url]}" ><img src="{$r[thumb]}" width="104" height="65" class="l"></a>
			<div class="lh21"><a href="{$r[url]}" >{$r[title]}</a></div>
			<div class="sz"><span class="shows">播放次数：23 </span><span>评论：321</span></div>
			</div>
			</li> 
{/loop}
{/pc}				
				
            </ul>
            </div>
        </div>
    </div>
	
	
	
    <div class="ad"><a href="#" title="text"><img src="{IMG_PATH}vms/vms/318x63.jpg" width="318" height="63"></a></div>
    <div class="box0">
    	<div class="nav"><h5>精彩推荐</h5></div>
        <div class="bct">
        	<ul class="c1 c2">
			{pc:content  action="position" posid="18" catid="$catid" order="listorder DESC" num="6" return="info"}
			{loop $info $v}
                <li>
                    <div class="clr h77">
                      <a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{$v[thumb]}" width="104" height="65" class="l"></a>
                      <div class="lh21"><a href="{$v[url]}" title="{$v[title]}" target="_blank">{str_cut($v[title],22,false)}</a></div>
                      <div class="sz"><span class="shows">播放次数：{get_views('c-'.$CATEGORYS[$v[catid]][modelid].'-'.$v['id'])}</span><span>评论：{get_comments(id_encode("content_$v[catid]",$v[id],$siteid))}</span></div>
                    </div>
                </li>  
			{/loop}
			{/pc}
					
            </ul>
        </div>
    </div>
  </div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script language="JavaScript">
<!--
//切换地址
function show_url(id) {
	var local_value = $('#url').val();
	if(id == 1){
		$('#url').val('');
	}else{
		
	}
 	var local = 'local'+id;
	var remote = 'remote'+id;
	
	var remote_value = $('#'+remote).val();
	$.get('index.php', {m:'cloudhost', c:'bucket', a:'ChangeBucket', local:local_value,remote:remote_value, id:id, time:Math.random()}, function (data){
		if(data=='ok'){
			alert('记录修改成功！');
		}else{
			alert('修改失败！');
		}
	});  
}
//-->
})
</script>
{template "content","footer"}
