{template "content","header"}
<link href="{CSS_PATH}download.css" rel="stylesheet" type="text/css" />
<div class="main">
	<!--left_bar-->
	<div class="col-left">
    <div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)}{$title}</div>
        <div class="box boxsbg">
        	<div class="contents">
      <table cellspacing="1" cellpadding="0" align="center" class="down_info">
        <caption>
        <h5>{$title}</h5>
        </caption>
        <tbody><tr>
          <th>授权形式：</th>
          <td>{$copytype}</td>
          <td width="260" rowspan="7" align="center" valign="middle">{if $thumb}<img src="{$thumb}" width="250" height="220" />{/if}</td>
        </tr>
        <tr>
          <th>更新时间：</th>
          <td>{$updatetime}</td>
        </tr>
        <tr>
          <th>软件语言：</th>
          <td>{$language}</td>
        </tr>
        <tr>
          <th>软件平台：</th>
          <td>{$systems}</td>
        </tr>
        <tr>
          <th>软件类别：</th>
          <td> {$classtype}</td>
        </tr>
        <tr>
          <th>文件大小：</th>
          <td> {$filesize}</td>
        </tr>
        <tr>
          <th>评论等级：</th>
          <td class="c_orange"> {$stars}</td>
        </tr>
<tr>
          <th>浏览次数：</th>
          <td colspan="2"><span id="hits"></span>（今日：<span id="todaydowns"></span>，本周：<span id="weekdowns"></span>，本月：<span id="monthdowns"></span>）</td>
        </tr>
      </tbody></table>
      <h5 class="tit">软件简介</h5>
      <div class="down_intro"><h4 class="tits">{$title}</h4>{$content}</div>
      <h5 class="tit">下载地址</h5>
      <div class="down_address divl wrap">
        	<ul class="l xz_a wrap blue">
			{loop $downfile $r}
	        	<li>{$r}</li>
			{/loop}
			{loop $downfiles $r}
	        	<li>{$r}</li>
			{/loop}			
        	</ul>
        <div class="ad"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=12"></script></div>
      </div>
	  </div>
	              </div>
      <div class="bk10"></div>
      <div class="Article-Tool">分享到：
	  <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/><script type="text/javascript">
	function postToWb(){
		var _t = encodeURI(document.title);
		var _url = encodeURIComponent(document.location);
		var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
		var _pic = encodeURI('{$thumb}');
		var _site = '';
		var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
		window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
	}
</script>
          <script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到人人" class="t3" target="_blank">&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('{new_addslashes($title)}')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;</a>');</script>
      </div>
      <!--评论-->
      <div class="bk10"></div>
      {if $allow_comment && module_exists('comment')}
   <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	{/if}
    </div>
    <!--right_bar-->
    <div class="col-auto">
    	<!--广告228x162-->
    	<div class="brd mg_b10"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=6"></script></div>
        <div class="box">
            <h5 class="title-2">下载排行</h5>
            <ul class="content digg">
			{pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
			{/pc}
            </ul>
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">相关下载</h5>
            <div class="content">
			    <ul class="list uls fs12">
					{pc:content action="relation" relation="$relation" catid="$catid" num="5" keywords="$rs[keywords]"}
					{loop $data $r}
						<li><span>({date('m-d',$r[inputtime])})</span>·<a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
					{/loop}
					{/pc}
                </ul>
            </div>
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">推荐下载</h5>
            <ul class="content digg">
            	{pc:content  action="position" posid="5" order="listorder DESC" num="4"}
        	 	{loop $data $r}        
                <li><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],34)}</a></li>
               	{/loop}  
             	{/pc} 
            </ul>
        </div>
        <div class="bk10"></div>
        <!--广告228x170-->
    	<div class="brd mg_b10"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=7"></script></div>
    </div>
</div>

<div class="bk10"></div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}