html,
body {
	position: relative;
	height: 100%;
	background: darkgrey;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	/*display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;*/
	/*display: flex;*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#music {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1111111;
	/*border: 1px solid red;*/
	background-size: 60px 60px;
}

@keyframes music {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#music img.m {
	width: 60px;
	height: 60px;
}

#music img.off {
	position: absolute;
	left: 7px;
	top: 7px;
	animation: music 2s linear infinite;
}


/*第一块样式*/

.swiper-slide.one {
	background: url(../images/onebg.png);
	background-size: cover;
}

.swiper-slide.one .top {
	width: 70%;
	height: 50%;
	margin: 0 auto;
	margin-top: 8%;
	border: 9px solid white;
	overflow: hidden;
	position: relative;
}

.swiper-slide.one .top img {
	width: 100%;
	display: block;
}

.swiper-slide.one .bottom {
	width: 70%;
	height: 30%;
	margin: 0 auto;
	margin-top: 5%;
	/*border: 1px solid white;*/
	position: relative;
}

.swiper-slide.one .bottom .jiezhi {
	position: absolute;
	left: 5%;
	top: 0;
	width: 35%;
}

.swiper-slide.one .bottom .women {
	display: block;
	width: 100%;
	position: absolute;
	top: 13%;
	left: 3%;
}

.swiper-slide.one .bottom .time {
	position: absolute;
	bottom: 0px;
	left: 50%;
	display: block;
	width: 50%;
	transform: translateX(-50%);
}


/*第一块结束*/


/*第二块*/

.swiper-slide.two {
	background: url(../images/twobg.jpg) no-repeat;
	background-size: cover;
}

.swiper-slide.two .left {
	width: 30%;
	height: 20%;
	border: #FFEBEB 9px solid;
	position: absolute;
	left: 5%;
	top: 5%;
	overflow: hidden;
	z-index: 1;
}

.swiper-slide.two .left img {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	top: 0;
}

.swiper-slide.two .right {
	border: #FFEBEB 9px solid;
	width: 60%;
	height: 80%;
	position: absolute;
	right: 5%;
	top: 10%;
	background: #FFEBEB;
}

.swiper-slide.two .right .top {
	width: 100%;
	height: 60%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.swiper-slide.two .right .top img {
	width: 100%;
}

.swiper-slide.two .right .bottom {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 62%;
	left: 0;
}

.swiper-slide.two .right .bottom img {
	float: left;
	width: 100%;
}

.swiper-slide.two .fengche {
	position: absolute;
	bottom: 40%;
	right: -10%;
	display: block;
	width: 35%;
}


/*第二块结束*/


/*第三块*/

.swiper-slide.three {
	background: url(../images/twobg.jpg) no-repeat;
	background-size: cover;
}

.swiper-slide.three .pic {
	width: 70%;
	height: 60%;
	border: 9px solid #FFFFFF;
	margin: 0 auto;
	margin-top: 10%;
	overflow: hidden;
}

.swiper-slide.three .pic img {
	width: 100%;
}

.swiper-slide.three .top_hua {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
}

.swiper-slide.three .bottom_hua {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80%;
}

.swiper-slide.three .dog {
	width: 30%;
	position: absolute;
	top: 58%;
	right: 20%;
}

.swiper-slide.three .aini {
	float: right;
	width: 70%;
	margin-top: 5%;
}

.swiper-slide.three .yibeizi {
	float: right;
	width: 70%;
	margin-top: 5%;
}


/*第三块结束*/


/*第四块*/

.swiper-slide.four {
	background: url(../images/twobg.jpg) no-repeat;
	background-size: cover;
}

.swiper-slide.four .content {
	width: 84%;
	margin: 0 auto;
	margin-top: 10%;
	height: 70%;
	border: 9px solid #FFFFFF;
}


/*.swiper-slide.four .content>div{
	width: 49%;
	overflow: hidden;
}*/
.swiper-slide.four .content div div{
	position: relative;
}
.swiper-slide.four .content div div img {
	height: 100%;
	display: block;
	float: left;
	position: absolute;
	left: 50%;
	top: 0;
	transform:  translateX(-50%);
}

.swiper-slide.four .content .left {
	width: 50%;
	float: left;
	height: 100%;
}

.swiper-slide.four .content .right {
	width: 50%;
	float: right;
	height: 100%;
}

.swiper-slide.four .content .left div.one {
	height: 25%;
	overflow: hidden;
}

.swiper-slide.four .content .right div.two {
	height: 55%;
	overflow: hidden;
}

.swiper-slide.four .content .left div.three {
	height: 75%;
	overflow: hidden;
}

.swiper-slide.four .content .right div.four {
	height: 45%;
	overflow: hidden;
}
.swiper-slide.four .bottom_hua {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70%;
}
.swiper-slide.four .word{
	width: 100%;
	height: 10%;
	/*background: purple;*/
	position: relative;
	z-index: 10;
	margin-top: 3%;
}
.swiper-slide.four .word img{
	display: block;
	width: 40%;
}
.swiper-slide.four .word img.left{
	float: left;
	margin-left: 8%;
}
.swiper-slide.four .word img.right{
	float: right;
	margin-right: 8%;
}
/*第四块结束*/





















