* {
  padding: 0;
  margin: 0;
}
#top {
  width: 10rem;
  height: 1.33333333rem;
  background: #232323;
}
#top .left {
  float: left;
  width: 6.8rem;
  height: 1.33333333rem;
  display: flex;
  align-items: center;
}
#top .left .close {
  width: 0.45333333rem;
  height: 0.45333333rem;
  margin-left: 0.22666667rem;
  margin-right: 0.48rem;
}
#top .left .appicon {
  width: 0.93333333rem;
  height: 0.93333333rem;
  margin-right: 0.24rem;
}
#top .left .openapp {
  width: 3.73333333rem;
  height: 0.93333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#top .left .openapp p:nth-child(1) {
  color: white;
}
#top .left .openapp p:nth-child(2) {
  color: #999;
}
#top a.right {
  float: left;
  display: block;
  width: 3.18666667rem;
  height: 1.33333333rem;
  background: #CD2525;
  color: white;
  text-align: center;
  line-height: 1.33333333rem;
}
[data-dpr="2"] #top .left .openapp p:nth-child(1) {
  font-size: 26px;
}
[data-dpr="2"] #top .left .openapp p:nth-child(2) {
  font-size: 26px;
}
[data-dpr="2"] #top a.right {
  font-size: 30px;
}
[data-dpr="3"] #top .left .openapp p:nth-child(1) {
  font-size: 39px;
}
[data-dpr="3"] #top .left .openapp p:nth-child(2) {
  font-size: 39px;
}
[data-dpr="3"] #top a.right {
  font-size: 45px;
}
[data-dpr="4"] #top .left .openapp p:nth-child(1) {
  font-size: 52px;
}
[data-dpr="4"] #top .left .openapp p:nth-child(2) {
  font-size: 52px;
}
[data-dpr="4"] #top a.right {
  font-size: 60px;
}
