{template "content","header"}
<link href="{CSS_PATH}vms/vms.css" rel="stylesheet" type="text/css" />
<div class="clr ct zt_pg tp_pg">
	<div class="crumbs"><a href="{APP_PATH}">首页</a><span> &gt; </span><a href="#">视频中心</a> &gt; 视频专辑列表</div>
	<div class="mgt10 w960 bnr">
	<a href="http://www.phpcms.cn" title="随机广告位，欢迎访问PHPCMS.CN"><img src="http://www.phpcms.cn/statics/images/video/ad960x40.gif"></a>
	</div>
 
	<div class="clr">
    <div class="lty1">
    	<div class="mgt10 lst_box">
{pc:special action="video_lists" siteid="$siteid" listorder="2" num="20" page="$page"}        	 
	<ul class="clr wp col4">

	{loop $data $r}                      
	<li>
	  <div class="w120">
		  <div class="imgbox">
		  <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="120" height="75"></a></div>
		  <div class="lh21"><a href="{$r[url]}" target="_blank">{$r[title]}</a></div> 
	  </div>
	</li>  			
	{/loop} 
	</ul>
	<div class="pages"> 
	{$pages}
	</div>
{/pc}			
			
        </div>
    </div>
  <div class="wp lty2">
  	<div class="ad"> 
	<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=14"></script>
	
	</div>
    <div class="box0">
    	<div class="nav"><h5>推荐视频专题</h5></div>
        <div class="bct">
        	<ul class="c1 c2">
                
{pc:special action="video_lists" siteid="$siteid" listorder="2" num="2" elite="1" }
{loop $data $r}    
	<li>
		<div class="clr h77">
		  <a href="{$r[url]}" ><img src="{$r[thumb]}" width="104" height="65" class="l"></a>
		  <div class="lh21"><a href="{$r[url]}" >{$r[title]}</a></div>
		  <div class="sz"><span>评论：{get_comments(id_encode("content_$r[catid]",$r[id],$siteid))}</span></div>
		</div>
	</li> 
{/loop}
{/pc}		

				
            </ul>
        </div>
    </div>
    </div>
    </div>
</div>
{template "content","footer"}
