@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\000031}}
* {
  margin: 0px;
  padding: 0px;
}
/*总的容器*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\000033}}
.swiper-container {
  position: relative;
}
/*音乐图标*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\000037}}
.music_logo {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background: url(../images/small/music.gif) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes zhuan {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000315}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000318}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000321}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000325}}
.music_logo #music_click {
  max-width: 40px;
  max-height: 40px;
  display: block;
  line-height: 80px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-transition: 5s;
          transition: 5s;
  -webkit-animation: zhuan 3s linear infinite;
          animation: zhuan 3s linear infinite;
}
/*每页 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000337}}
.swiper-slide {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000342}}
.one {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000345}}
.one .trans {
  width: 42vw;
  height: 42vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 20vw;
}
@-webkit-keyframes trans {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000354}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000355}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000356}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes trans {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000354}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000355}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000356}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000358}}
.one .trans .zhuan {
  width: 42vw;
  height: 42vw;
  border: 3px dotted #ccc;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  top: -8px;
  -webkit-animation: trans 5s 1s linear infinite ;
          animation: trans 5s 1s linear infinite ;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000366}}
.one .trans img {
  display: block;
  width: 39vw;
  height: 39vw;
  margin: 0 auto;
  margin-top: 1.5vw;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 10px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000374}}
.one .trans .line {
  width: 2px;
  height: 150px;
  background: white;
  position: absolute;
  left: 21vw;
  top: -42vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000381}}
.one .ads {
  text-align: center;
  font-size: 10vw;
  margin-top: 20vh;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000387}}
.one .word {
  text-align: center;
  font-size: 4vw;
  margin-top: 3vh;
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000393}}
.one .link {
  width: 80vw;
  height: 15vh;
  margin: 0 auto;
  margin-top: 12vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\0000397}}
.one .link li {
  list-style: none;
  width: 20vw;
  height: 20vw;
  float: left;
  margin-left: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003102}}
.one .link li img {
  width: 20vw;
  height: 20vw;
  border: 2px solid white;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003111}}
.two {
  background: url(../images/bg/bg2.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003114}}
.two .content {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003118}}
.two .content .cover {
  width: 90vw;
  height: 90vh;
  opacity: 0.5;
  background: black;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003124}}
.two .content .art {
  width: 90vw;
  height: 90vh;
  padding: 5vw;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003129}}
.two .content .art h1 {
  color: #E3E4E5;
  font-size: 10vw;
  line-height: 10vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003133}}
.two .content .art h1 img {
  width: 18vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003137}}
.two .content .art hr {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003140}}
.two .content .art p {
  color: #ccc;
  text-indent: 2em;
  line-height: 8vw;
  font-size: 5.5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003146}}
.two .content .art .airplane {
  width: 25vw;
  height: 25vw;
  background: url(../images/small/airplane.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2vh;
  right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003158}}
.three {
  background: url(../images/bg/bg3.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003161}}
.three .top {
  width: 88vw;
  height: 22vw;
  position: relative;
  margin: 0 auto;
  margin-top: 5vh;
  opacity: 0.9;
  overflow: hidden;
  border-radius: 10px;
  background: url(../images/small/rain.png) no-repeat center;
  background-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003170}}
.three .top h1 {
  color: white;
  font-size: 10vw;
  line-height: 13vh;
  text-indent: 1em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003177}}
.three .top img {
  width: 21.5vw;
  height: 21.5vw;
  position: absolute;
  bottom: 0px;
  left: 500px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003184}}
.three .content {
  width: 88vw;
  height: 78vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-top: 2vh;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003189}}
.three .content li {
  width: 80vw;
  height: 8vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1.5vh;
  list-style: none;
  text-align: center;
  line-height: 8vh;
  color: #E8E7E4;
  font-size: 6vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003200}}
.four {
  background: url(../images/bg/bg4.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003203}}
.four h1 {
  color: #39BD8D;
  text-align: center;
  margin-top: 10vh;
  font-size: 8vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003209}}
.four h3 {
  color: #828282;
  font-size: 5vw;
  text-align: center;
  line-height: 10vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003215}}
.four .content {
  width: 95vw;
  height: 70vh;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003218}}
.four .content li {
  list-style: none;
  width: 35vw;
  height: 35vw;
  float: left;
  margin-left: 8vw;
  margin-top: 6vh;
  border-radius: 50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003225}}
.four .content li img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 2.5vw;
  box-shadow: 0px 0px 50px 10px #39BD8D;
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003233}}
.four .content li span {
  display: block;
  width: 18vw;
  height: 10vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 4vw;
  margin-top: 2vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003247}}
.five {
  background: url(../images/bg/bg5.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003251}}
.five .box {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003254}}
.five .box li {
  width: 90vw;
  height: 25vw;
  margin: 0 auto;
  margin-bottom: 5vh;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003259}}
.five .box li .left {
  width: 60vw;
  height: 25vw;
  float: left;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003263}}
.five .box li .left span {
  font-size: 4.5vw;
  color: #D24141;
  font-weight: 700;
  line-height: 10vw;
  margin-left: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003268}}
.five .box li .left p {
  width: 50vw;
  height: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 4vw;
  color: #4B4949;
  font-weight: 700;
  line-height: 6vw;
  text-indent: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003276}}
.five .box li .right {
  width: 25vw;
  position: absolute;
  right: -25vw;
  overflow: hidden;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003286}}
.six {
  background: url(../images/bg/bg6.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003289}}
.six .title {
  width: 100vw;
  height: 30vw;
  color: white;
  text-align: center;
  margin: 0 auto;
  line-height: 20vw;
  margin-top: 18vw;
  font-size: 14vw;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003296}}
.six .content {
  width: 100vw;
  height: 90vw;
  margin: 0 auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003300}}
.six .content li {
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
  position: absolute;
  list-style: none;
  text-align: center;
  line-height: 55vw;
  color: white;
  font-size: 10vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003310}}
.six .content .li1 {
  left: 22.5vw;
  top: 0vw;
  background: #f08d90;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003314}}
.six .content .li2 {
  left: 2vw;
  bottom: 0vw;
  background: rgba(44, 60, 221, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003318}}
.six .content .li3 {
  right: 2vw;
  bottom: 0vw;
  background: rgba(95, 191, 96, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003325}}
.seven {
  background: url(../images/bg/bg7.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003328}}
.seven .box {
  width: 90vw;
  height: 130vw;
  margin: 0 auto;
  margin-top: 15vw;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003333}}
.seven .box li {
  list-style: none;
  width: 40vw;
  height: 55vw;
  border-radius: 10%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003338}}
.seven .box li img {
  width: 20vw;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003344}}
.seven .box li h3 {
  color: white;
  margin-left: 3vw;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003348}}
.seven .box li p {
  color: #E7E9E9;
  font-size: 4vw;
  width: 40vw;
  line-height: 6vw;
  padding-left: 2vw;
  padding-right: 2vw;
  box-sizing: border-box;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003356}}
.seven .box .li1 {
  left: 0px;
  top: 0px;
  background: #EB5767;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003359}}
.seven .box .li2 {
  right: 0px;
  top: 0px;
  background: #A1D36E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003365}}
.seven .box .li3 {
  left: 0px;
  bottom: 0px;
  background: #AC94EA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003368}}
.seven .box .li4 {
  right: 0px;
  bottom: 0px;
  background: #56C1E7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003371}}
.seven .box .circle {
  width: 40vw;
  height: 40vw;
  border: 1px solid white;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 25vw;
  top: 40vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003378}}
.seven .box .circle .circle_son {
  width: 35vw;
  height: 35vw;
  background: #FECD60;
  margin: 0 auto;
  margin-top: 1.5vw;
  border-radius: 50%;
  text-align: center;
  line-height: 35vw;
  color: #676767;
  font-size: 7vw;
  font-weight: 700;
  box-shadow: -5px 5px 5px 2px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003394}}
.eight {
  background: url(../images/bg/bg8.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003397}}
.eight .title {
  width: 80vw;
  height: 10vh;
  font-size: 12vw;
  text-align: center;
  line-height: 10vh;
  margin: 0 auto;
  margin-top: 15vh;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003404}}
.eight .content {
  width: 60vw;
  height: 60vw;
  margin: 0 auto;
  margin-top: 10vh;
  background: #E5E6E6;
  overflow: hidden;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003410}}
.eight .content .son {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 5vw;
  overflow: hidden;
  box-shadow: -5px 5px 5px 3px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003417}}
.eight .content .son span {
  display: block;
  width: 40vw;
  height: 20vw;
  color: #828282;
  margin: 0 auto;
  margin-top: 8vw;
  text-align: center;
  line-height: 20vw;
  font-size: 8vw;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003427}}
.eight .content .son hr {
  width: 30vw;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wcj_best\/css\/style\.less}line{font-family:\00003431}}
.eight .content .son p {
  width: 40vw;
  height: 20vw;
  color: #828282;
  font-size: 5vw;
  line-height: 6vw;
  margin: 0 auto;
  padding-top: 3vw;
  text-align: center;
}
