{template "content","header"}
<link href="{CSS_PATH}vote.css" rel="stylesheet" type="text/css" />
<!--main-->
<div class="main tps">
<div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span> <a href="{APP_PATH}index.php?m=vote&c=index&a=lists&siteid={$siteid}">投票</a>  </div>
<form name="myform" id="myform"  action="{APP_PATH}index.php?m=vote&c=index&a=post&subjectid={$subjectid}&siteid={$siteid}" method="post">
<div class="vote_result">
    	<div class="tit"><span class="r">总票数：<strong>{$vote_data['total']}</strong></span><h5>标题: {$subject}</h5></div>
        <div class="c_box wrap">
		<input type="hidden" name="subjectid" value="{$subjectid}">
        <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tp">
       	{loop $options $r}
       	{$i++}
             <tr>
             	<th>{$i}</th>
               <td class="tp_tit"><input type={if $ischeckbox=='0'}"radio"{else}"checkbox"{/if} name="radio[]" id="radio" value="{$r['optionid']}" {$check_status} /></td>
               <td class="ls">{$r['option']}</td>
               <td class="tdcol3"><font color=red>{php echo $vote_data[$r['optionid']]==''? 0:$vote_data[$r['optionid']]}</font> 票</td>
             </tr>
        {/loop} 
        </table>
        
        </div>
    </div>
    <div class="shuru_btn"><button class="tp_btn" type="submit" style="{$display}"></button><a href="{APP_PATH}index.php?m=vote&c=index&a=result&subjectid={$subjectid}&siteid={$siteid}">[查看投票结果] </a></div>
    </form>
    <div class="vote_listt">
    	<div class="tit"><span class="r"><a href="{APP_PATH}index.php?m=vote&c=index&a=lists&siteid={$siteid}">查看更多>></a></span><h5>其他投票</h5></div>
        <ul class="wrap licol2 icon3j">
             {pc:vote action="other_vote" num="8" order="subjectid DESC"}
			 	{loop $data $r}
				
				 <li><a title="{$r['subject']}" href="{APP_PATH}index.php?m=vote&c=index&a=show&show_type=1&subjectid={$r['subjectid']}">{$r['subject']}</a><span ><font color="#1E50A0">(得票数: {$r['votenumber']})</font></span></li>
				{/loop}
			 {/pc}
       
        </ul>
    </div>
</div>
{template "content","footer"}
