@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\000031}}
* {
  margin: 0px;
  padding: 0px;
}
/*总的容器*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\000033}}
.swiper-container {
  position: relative;
}
/*音乐图标*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\000037}}
.music_logo {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background: url(../images/music.gif) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes zhuan {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000316}}
  0% {
    transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000319}}
  50% {
    transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000322}}
  100% {
    transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000326}}
.music_logo #music_click {
  max-width: 40px;
  max-height: 40px;
  display: block;
  line-height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  transition: 5s;
  animation: zhuan 3s infinite linear;
}
/*每页 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000338}}
.swiper-slide {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000342}}
.one {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000345}}
.one .title {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  font-size: 60px;
  color: white;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000354}}
.one .hd_logo {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 200px;
  height: 200px;
  background: url(../images/logo_white.png) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000362}}
.one .content {
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000375}}
.two {
  background: url(../images/wuyun1.png) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000378}}
.two .title {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-size: 40px;
  color: white;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000386}}
.two .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000391}}
.two .jiuye {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\0000397}}
.two .jiuye1 {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 30px;
  background: url(../images/jiuye1.jpg) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003105}}
.two .jiuye3 {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-right: 50px;
  background: url(../images/jiuye3.png) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003115}}
.three {
  background: url(../images/wuyun3.jpg) no-repeat;
  nackground-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003118}}
.three .title {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003122}}
.three .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003127}}
.three .banzhuan {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003133}}
.three .banzhuan1 {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003138}}
.three .banzhuan2 {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003146}}
.four {
  background: url(../images/wuyun2.jpg) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003149}}
.four .title {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003153}}
.four .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003158}}
.four img {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003166}}
.five {
  background: url(../images/war1.jpg) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003169}}
.five .title {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003174}}
.five .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003179}}
.five .touxiang {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003183}}
.five .touxiang1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../images/touxiang1.jpg) no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003189}}
.five .touxiang2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../images/touxiang2.jpg) no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003196}}
.five .touxiang3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../images/touxiang3.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003205}}
.six {
  background: url(../images/wuyun4.png) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003208}}
.six .title {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003213}}
.six .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003218}}
.six .fanu {
  width: 100%;
  height: 400px;
  margin-top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003221}}
.six .fanu .fanu1 {
  float: left;
  background: url(../images/fanu1.jpg) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003225}}
.six .fanu .fanu2 {
  float: right;
  background: url(../images/fanu2.jpg) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003229}}
.six .fanu .fanu3 {
  float: left;
  background: url(../images/fanu3.jpg) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003233}}
.six .fanu .fanu4 {
  float: right;
  background: url(../images/fanu4.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003237}}
.six .fanu .fanu {
  max-width: 180px;
  min-width: 100px;
  max-height: 180px;
  min-height: 100px;
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003247}}
.seven {
  background: url(../images/mingmei.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003250}}
.seven .title {
  width: 50px;
  float: right;
  text-align: center;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 40px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003255}}
.seven .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003262}}
.eight {
  background: url(../images/chenggong.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003265}}
.eight .title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003270}}
.eight .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003275}}
.eight .success {
  width: 180px;
  height: 180px;
  border-radius: 50% 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003279}}
.eight .success1 {
  margin-left: 10px;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003283}}
.eight .success2 {
  margin-left: 150px;
  margin-top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003287}}
.eight .success3 {
  margin-left: 10px;
  margin-top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003293}}
.nine {
  background: #5185B4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003295}}
.nine .title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  line-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003301}}
.nine .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003306}}
.nine .xueyuan {
  width: 200px;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003313}}
.nine .xueyuan1 {
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003316}}
.nine .xueyuan2 {
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003321}}
.ten {
  background: url(../images/gaolou.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003324}}
.ten .title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  line-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003330}}
.ten .title span {
  color: red;
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003335}}
.ten .houdun {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003340}}
.ten .houdun1 {
  margin-left: 10px;
  margin-top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing1\/css\/style\.less}line{font-family:\00003344}}
.ten .houdun2 {
  margin-top: -60px;
  margin-right: 20px;
}
