*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/*顶部搜索*/
#top{
	background: #FE5400;
	width: 100%;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	align-items: center;
}
#top i.iconfont.icon-tao{
	color: white;
	font-size: 8vw;
	float: left;
	margin-left: 2%;
}
#top .search{
	width: 87%;
	display: block;
	float: left;
	margin-left: 1%;
	background: #B52600;
	text-align: center;
	color: #F0E0DC;
	line-height: 2.2em;
	text-decoration: none;
	font-size: 3vw;
	border-radius: 6px;
}
#top .search i.iconfont.icon-sousuo{
	font-size: 5vw;
}
/*顶部搜索结束*/

.flash{
	width: 100%;
}


/*图标列表区*/
#icolist{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#icolist>li{
	width: 20%;
	list-style: none;
	margin-top: 3%;
}
#icolist>li img{
	border-radius: 50%;
	width: 80%;
	display: block;
	margin: 0 auto;
}
#icolist>li a{
	text-decoration: none;
	color: rgb(102, 102, 102);
	text-align: center;
	display: block;
	width: 100%;
	font-size: 1vw;
	line-height: 2em;
}
/*图标列表区结束*/

/*淘宝头条*/
#first{
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #F7F7F7;
	border-bottom: 5px solid #EEEEEE;
	padding: 2% 0;
	display: flex;
	align-items: center;
	margin-top: 3%;
}
#first .left{
	width: 17%;
	border-right: 1px solid #F9F9F9;
	padding-right: 3%;
	float: left;
	margin-left: 2%;
	
}
#first span.center{
	float: left;
	border: 1px solid rgb(216, 20, 33);
	color: rgb(216, 20, 33);
	font-size: 3.6vw;
	padding: 2px;
	border-radius: 5px;
	margin-left: 2%;

}
#first .right{
	font-size: 3.7vw;
	color: rgb(53, 53, 53);
	width: 60%;	
	margin-left: 2%;
	white-space: nowrap;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.7em;
}
/*淘宝头条结束*/