* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
body {
  font: "微软雅黑";
}
@keyframes zhuan {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .one {
  background: url(../img/yq0KXVZlYH2AbRfLAAAQRdkBAPQ028.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.swiper-wrapper .one .center {
  width: 75%;
  margin-top: 50%;
  margin-left: 13%;
}
.swiper-wrapper .one .center img {
  width: 100%;
}
.swiper-wrapper .one .shu {
  width: 75%;
  float: right;
}
.swiper-wrapper .one .shu img {
  width: 100%;
}
.swiper-wrapper .one .hui {
  position: absolute;
  width: 22px;
  height: 56px;
  top: 76.5px;
  left: 32px;
}
.swiper-wrapper .one .hui img {
  width: 100%;
}
.swiper-wrapper .one .wenzi {
  color: white;
  width: 60%;
  position: absolute;
  left: 20%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.swiper-wrapper .two {
  background: url(../img/dbf2a8a2a337c8814e78541cb7ea439b_yq0KXVZlULmAXuLxAAAQRl0nUyM012.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.swiper-wrapper .two .chun {
  width: 75%;
  margin: 0px auto;
  margin-top: 20%;
  position: relative;
}
.swiper-wrapper .two .chun img {
  width: 100%;
}
.swiper-wrapper .two .chun p {
  position: absolute;
  color: #AF0E01;
  top: 35%;
  left: 27%;
  font-size: 5vw;
}
.swiper-wrapper .two .quan {
  width: 75%;
  margin: 0px auto;
  margin-top: -10%;
  position: relative;
}
.swiper-wrapper .two .quan .daquan {
  animation: zhuan 8s linear infinite;
  position: relative;
}
.swiper-wrapper .two .quan .daquan img {
  width: 100%;
}
.swiper-wrapper .two .quan .daquan .xiaoquan {
  width: 75%;
  position: absolute;
  animation: zhuan 4s linear infinite;
  top: 11%;
  left: 12%;
}
.swiper-wrapper .two .quan .daquan .xiaoquan img {
  width: 100%;
}
.swiper-wrapper .three {
  overflow: hidden;
  background: url(../img/dbf2a8a2a337c8814e78541cb7ea439b_yq0KXVZlULmAXuLxAAAQRl0nUyM012.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.swiper-wrapper .three .top {
  margin-top: -10%;
}
.swiper-wrapper .three .top img {
  width: 100%;
}
.swiper-wrapper .three .shen {
  margin-top: 5%;
  overflow: hidden;
}
.swiper-wrapper .three .shen .shenleft {
  width: 10%;
  padding: 1%;
  border: 1px solid #AF0E01;
  margin-left: 10%;
  float: left;
}
.swiper-wrapper .three .shen .shenleft p {
  background: #AF0E01;
  color: white;
  font-size: 7vw;
  text-align: center;
}
.swiper-wrapper .three .shen .shenright {
  float: right;
  width: 70%;
  margin-right: 5%;
  margin-top: 10%;
}
.swiper-wrapper .three .shen .shenright img {
  width: 100%;
}
.swiper-wrapper .three .shen .shenbottom {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 35%;
  float: left;
  position: relative;
}
.swiper-wrapper .three .shen .shenbottom .wenzi {
  position: absolute;
  top: 5%;
  left: 8%;
  font-size: 16px;
  line-height: 2em;
}
.swiper-wrapper .three .shen .shenbottom .wenzi p {
  padding: 3%;
  color: #AF0E00;
}
.swiper-wrapper .bottom {
  margin-top: 5%;
}
.swiper-wrapper .bottom img {
  width: 100%;
}
.swiper-wrapper .four {
  overflow: hidden;
  background: url(../img/f52ae1b1a5d26fcc40911779f63105c1_yq0KA1TTI6SAQmznAACUIqhaULI601.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.swiper-wrapper .four .left {
  float: left;
  width: 45%;
  margin-right: 3%;
  margin-top: 5%;
}
.swiper-wrapper .four .left img {
  width: 100%;
  margin-top: 10%;
}
.swiper-wrapper .four .right {
  float: right;
  width: 45%;
  margin-right: 3%;
  margin-top: 5%;
}
.swiper-wrapper .four .right img {
  width: 100%;
  margin-top: 10%;
}
.swiper-wrapper .five {
  overflow: hidden;
  background: url(../img/f52ae1b1a5d26fcc40911779f63105c1_yq0KA1TTI6SAQmznAACUIqhaULI601.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.swiper-wrapper .five ul li {
  width: 44%;
  float: left;
  margin-left: 4%;
  height: 23%;
  margin-top: 2%;
}
.swiper-wrapper .five ul li img {
  width: 100%;
  margin-top: 10%;
}
/*# sourceMappingURL=index.css.map */
