<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{$hdcms['catname']}}</title>
    <link rel="stylesheet" type="text/css" href="{{__TEMPLATE__}}/css/list_default.css"/>
    <script src="{{__TEMPLATE__}}/js/jquery-1.11.3.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{__TEMPLATE__}}/js/list_default.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>
<!--头部-->
<div id="head">
    <img src="{{__TEMPLATE__}}/images/logo.jpg" class="logo"/>
    <ul class="ad">
        <li>顶尖PHP培训机构</li>
        <li style="color: #ee782f;">IT技能培训首选后盾网！</li>
    </ul>
    <div class="right">
        <span>全国抢座热线</span>
        <p>400-682-3231</p>
    </div>
</div>
<!--头部结束-->
<!--导航条-->
<div id="menu">
    <div class="center">
        <a href="{{root_url()}}">后盾首页</a>
        <category pid="0">
            <if value="$field['cid']==$hdcms['cid']">
                <a href="{{$field['url']}}" class="cur">{{$field['catname']}}</a>
                <else/>
                <a href="{{$field['url']}}">{{$field['catname']}}</a>
            </if>
        </category>
    </div>
</div>
<!--导航条结束-->

<!--搜索区域-->
<div id="search">
    <span>热门关键词：</span>
    <a href="">mysql</a>
    <a href="">网站开发</a>
    <a href="">高薪</a>
    <a href="">前端</a>
    <a href="">PHP整站开发</a>

    <form action="" method="post">
        <input type="text" placeholder="请输入搜索关键词" class="keyword"/>
        <input type="submit" value="" class="sub"/>
    </form>
</div>
<!--搜索区域结束-->

<img class="category_thumb" src="{{root_url()}}/{{$hdcms['thumb']}}"
     style="display: block;margin: 0 auto;"/>
<style>
    .category_thumb {
        width: 960px;
        height: 231px;
    }
</style>

<!--大区域-->
<div class="main">
    <!--左侧-->
    <div class="left">
        <!--面包屑导航-->
        <p class="position">
            <span>当前位置：</span>
            <a href="">首页</a>
            »
            <a href="">栏目封面</a>
        </p>
        <!--推荐信息-->
        <!--这个轮播图非常聪明，只需要向ul里遍历li数据即可。其他的事情js帮你搞定-->
        <div id="factory">
            <div class="line"></div>
            <img src="{{__TEMPLATE__}}/images/tuijian.jpg" class="title"/>
            <img src="{{__TEMPLATE__}}/images/ico_l01.jpg" class="icon1"/>
            <img src="{{__TEMPLATE__}}/images/ico_r01.jpg" class="icon2"/>
            <div class="center">
                <ul>
                    <arclist thumb="1">
                        <li>
                            <img src="{{$field['thumb']}}"/>
                            <a href="{{$field['url']}}">{{$field['title']}}</a>
                        </li>
                    </arclist>
                </ul>
            </div>
        </div>
        <img src="{{__TEMPLATE__}}/images/ge02.jpg" id="shadow"/>
        <!--推荐信息结束-->

        <div class="box">
            <h2>内容管理系统</h2>
            <ul>
                <arclist cid="2">
                    <li>
                        <a href="{{$field['url']}}">{{truncate($field['title'],20)}}</a>
                        <span class="time">{{dateformat('Y/m/d',$field['created_at'])}}</span>
                    </li>
                </arclist>
            </ul>
        </div>

        <div class="box">
            <h2>微信开发</h2>
            <ul>
                <arclist cid="14">
                    <li>
                        <a href="{{$field['url']}}">{{truncate($field['title'],20)}}</a>
                        <span class="time">{{$field['created_at']}}</span>
                    </li>
                </arclist>
            </ul>
        </div>
    </div>
    <!--左侧结束-->
    <!--右侧-->
    <div class="right">
        <h3>栏目导航</h3>
        <dl>
            <dt><a href="">开源框架</a></dt>
            <category pid="1">
                <dd><a href="{{$field['url']}}">{{$field['catname']}}</a></dd>
            </category>
        </dl>
        <dl>
            <dt><a href="">后盾新闻</a></dt>
            <category pid="4">
                <dd><a href="{{$field['url']}}">{{$field['catname']}}</a></dd>
            </category>
        </dl>
    </div>
    <!--右侧结束-->
</div>
<!--大区域结束-->

<!--底部-->
<div id="footer">
    <p>北京后盾计算机技术培训有限责任公司</p>
    <p>京ICP备12048441号-3</p>
</div>
<!--底部结束-->

</body>
</html>
