<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="{{__TEMPLATE__}}/css/index.css"/>
		<script src="{{__TEMPLATE__}}/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{__TEMPLATE__}}/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--头部-->
		<div id="head">
			<img src="{{__TEMPLATE__}}/images/logo.jpg" class="logo" />
			<ul class="ad">
				<li>顶尖PHP培训机构</li>
				<li style="color: #ee782f;">IT技能培训首选后盾网！</li>
			</ul>
			<div class="right">
				<span>全国抢座热线</span>
				<p>400-682-3231</p>
			</div>
		</div>
		<!--头部结束-->
		<!--导航条-->
		<div id="menu">
			<div class="center">
				<a href="" class="cur">后盾首页</a>
				<a href="">PHP语言</a>
				<a href="">HTML标记语言</a>
				<a href="">CSS样式</a>
				<a href="">JavaScript</a>
				<a href="">Mysql数据库</a>
				<a href="">Linux系统</a>
				<a href="">HDPHP框架</a>
				<a href="">HDCMS系统</a>
			</div>
		</div>
		<!--导航条结束-->
		
		<!--搜索区域-->
		<div id="search">
			<span>热门关键词：</span>
			<a href="">mysql</a>
			<a href="">网站开发</a>
			<a href="">高薪</a>
			<a href="">前端</a>
			<a href="">PHP整站开发</a>
			
			<form action="" method="post">
				<input type="text" placeholder="请输入搜索关键词" class="keyword"/>
				<input type="submit" value="" class="sub" />
			</form>
		</div>
		<!--搜索区域结束-->
		
		<!--轮播图-->
		<!--注意：直接向下面的div中遍历输出a标签即可，小圆点会根据a标签的数量自动创建，边界条件会自动判断。-->
		<div id="flash">
			<a href=""><img src="{{__TEMPLATE__}}/images/flash/1.jpg" /></a>
			<a href=""><img src="{{__TEMPLATE__}}/images/flash/2.jpg" /></a>
			<a href=""><img src="{{__TEMPLATE__}}/images/flash/3.jpg" /></a>
			<ul></ul>
		</div>
		<!--轮播图结束-->
		
		<!--大区域-->
		<div class="main">
			<div class="left">
				<h3>课程安排</h3>
				<dl>
					<dt><a href="">前端阶段</a></dt>
    				<dd><a href="">HTML超文本标记语言</a></dd>
    				<dd><a href="">CSS层叠样式表</a></dd>
					<dd><a href="">JavaScript动态效果</a></dd>
					<dd><a href="">jQuery框架</a></dd>
					<dd><a href="">HTML5、CSS3</a></dd>
                    <dd><a href="">混合APP开发</a></dd>
                    <dd><a href="">Angular框架</a></dd>
                    <dd><a href="">Vue.js框架</a></dd>
                    <dd><a href="">微信小程序</a></dd>
				</dl>
				<dl>
					<dt><a href="">PHP阶段</a></dt>
    				<dd><a href="">PHP初级</a></dd>
    				<dd><a href="">PHP中级</a></dd>
					<dd><a href="">PHP高级</a></dd>
					<dd><a href="">MySQL数据库</a></dd>
					<dd><a href="">独立框架开发</a></dd>
                    <dd><a href="">面向对象</a></dd>
                    <dd><a href="">linux数据库</a></dd>
                    <dd><a href="">微信开发</a></dd>
                    <dd><a href="">微信三网通项目</a></dd>
                    <dd><a href="">CMS开发</a></dd>
                    <dd><a href="">ThinkPHP框架实战</a></dd>
                    <dd><a href="">Laravel框架实战</a></dd>
                    <dd><a href="">项目性能优化</a></dd>
                    <dd><a href="">自选大项目独立开发</a></dd>
				</dl>
			</div>
			
			<!--右侧-->
			<div class="right">
				<!--标题-->
				<div class="title">
					<p>
						<span>学员回访</span>
						<img src="{{__TEMPLATE__}}/images/sd02.jpg" />
					</p>
					<a href=""><img src="{{__TEMPLATE__}}/images/more01.gif"/></a>
				</div>
				<!--标题结束-->
				<!--产品列表-->
				<ul class="product_list">
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/14944997347d0f938.jpg" /></a>
						<a href="" class="product_title">男人就得有破釜沉舟的魄力</a>
					  <p>王勇同学之前从事医疗行业seo推广工作，在工作中会接触一些网站相关的修改</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/1494499641afefa533.jpg" /></a>
						<a href="" class="product_title">在网上偶然看到后盾网，培训后薪水很高</a>
					  <p>来自安徽的王敬龙是后盾网的毕业生，当时还在上大学的他偶然在网上看到了后盾网</p>
				  </li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/14944994779b384765.jpg" /></a>
						<a href="" class="product_title">感谢后盾给了扎实的技术，有高薪收入</a>
					  <p>刘欢是内蒙古的学员，之前从事seo搜索引擎优化工作，由于一直从事互联网工作</p>
				  </li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/149449893702e1d107.jpg" /></a>
						<a href="" class="product_title">一位东北女孩的PHP转型真实经历</a>
					  <p>黄丹丹是一名来自东北的女孩，高中学历，来后盾网参加培训前从事导购工作</p>
				  </li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/14944992750a5af941.jpg" /></a>
						<a href="" class="product_title">退伍不褪色，在互联网开发行业依然我有</a>
					  <p>李德旺同学初中辍学去当兵，15年退伍后想学一门能立足社会的技能</p>
				  </li>
				</ul>
				<!--产品列表结束-->
				
				
				
				<!--标题-->
				<div class="title">
					<p>
						<span>后盾网学员回访</span>
						<img src="{{__TEMPLATE__}}/images/sd02.jpg" />
					</p>
					<a href=""><img src="{{__TEMPLATE__}}/images/more01.gif"/></a>
				</div>
				<!--标题结束-->
				<!--产品列表-->
				<ul class="product_list">
					
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/14938993693de9b611.jpg" /></a>
						<a href="" class="product_title">一个汽车专业学员的转型之路</a>
					  <p>杨胜全同学是后盾网71期（上海第2期）学员，大学学的是汽车专业</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/1493899359df6d1525.jpg" /></a>
						<a href="" class="product_title">摸爬滚打不如意，果断来后盾成功转型</a>
					  <p>于琳峰同学是后盾网71期（上海第2期）学员，大学学的是机电专业</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/1493378335a3046453.jpg" /></a>
						<a href="" class="product_title">一个老程序员的互联网转型之路</a>
					  <p>田海燕是后盾网53期的学员，来后盾网培训之前已经从事了六七年C和C++语言</p>
					</li>
					
				</ul>
				<!--产品列表结束-->
				
				
				
				<!--标题-->
				<div class="title">
					<p>
						<span>后盾网学员回访</span>
						<img src="{{__TEMPLATE__}}/images/sd02.jpg" />
					</p>
					<a href=""><img src="{{__TEMPLATE__}}/images/more01.gif"/></a>
				</div>
				<!--标题结束-->
				<!--产品列表-->
				<ul class="product_list">
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/149449877908bbd335.jpg" /></a>
						<a href="" class="product_title">天天画图没劲，果断转行PHP程序员</a>
					  <p>姚尧之前从事结构设计师工作，由于对当时工作和现状不满意，决定改变一下</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/14944990552f733802.jpg" /></a>
						<a href="" class="product_title">传统行业不如做有前景的互联网，来后盾</a>
					  <p>王征之前从事农业工作，传统行业不景气，经朋友推荐来后盾学PHP</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/1494499170fa8bf277.jpg" /></a>
						<a href="" class="product_title">看我姐夫做这行挣的钱多，而且互联网也</a>
					  <p>左卫川同学原来从事医疗行业，后改行PHP开发原因也很简单：“看我姐夫做这</p>
					</li>
					<li>
						<a href="" class="pic"><img src="{{__TEMPLATE__}}/images/students/149449981021fa5580.jpg" /></a>
						<a href="" class="product_title">对技术感兴趣，在后盾实现了自己高薪路</a>
					  <p>祁鹏钊同学来后盾网培训前在河北老家从事地推工作，工作辛苦，收入不高</p>
					</li>
					
				</ul>
				<!--产品列表结束-->
			</div>
			<!--右侧结束-->
		</div>
		<!--大区域结束-->
		
		<!--车间-->
		<!--这个轮播图非常聪明，只需要向ul里遍历li数据即可。其他的事情js帮你搞定-->
		<div id="factory">
			<div class="line"></div>
			<img src="{{__TEMPLATE__}}/images/sltil.jpg" class="title" />
			<img src="{{__TEMPLATE__}}/images/ico_l01.jpg" class="icon1" />
			<img src="{{__TEMPLATE__}}/images/ico_r01.jpg" class="icon2" />
			<div class="center">
				<ul>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/1.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/2.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/3.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/5.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/6.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/11.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/4.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/10.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/9.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/8.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/7.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
				</ul>
			</div>
		</div>
		<!--车间结束-->
		<img src="{{__TEMPLATE__}}/images/ge02.jpg" id="shadow" />
		
		<!--友情链接-->
		<p id="link">友情链接</p>
		<div id="webs">
			<a href="">后盾网</a>
			<a href="">后盾人</a>
			<a href="">HDCMS</a>
			<a href="">HDPHP</a>
			<a href="">后盾论坛</a>
			<a href="">百度</a>
			<a href="">腾讯</a>
			<a href="">阿里巴巴</a>
			<a href="">新浪</a>
			<a href="">搜狐</a>
		</div>
		<!--友情链接结束-->
		
		<!--底部-->
		<div id="footer">
			<p>北京后盾计算机技术培训有限责任公司</p>
			<p>京ICP备12048441号-3</p>
		</div>
		<!--底部结束-->
		
	</body>
</html>
