<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>栏目页列表</title>
		<link rel="stylesheet" type="text/css" href="{{__TEMPLATE__}}/css/list_article.css"/>
		<script src="{{__TEMPLATE__}}/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<!--头部-->
		<div id="head">
			<img src="{{__TEMPLATE__}}/images/logo.jpg" class="logo" />
			<ul class="ad">
				<li>顶尖PHP培训机构</li>
				<li style="color: #ee782f;">IT技能培训首选后盾网！</li>
			</ul>
			<div class="right">
				<span>全国抢座热线</span>
				<p>400-682-3231</p>
			</div>
		</div>
		<!--头部结束-->
		<!--导航条-->
		<div id="menu">
			<div class="center">
				<a href="" class="cur">后盾首页</a>
				<a href="">PHP语言</a>
				<a href="">HTML标记语言</a>
				<a href="">CSS样式</a>
				<a href="">JavaScript</a>
				<a href="">Mysql数据库</a>
				<a href="">Linux系统</a>
				<a href="">HDPHP框架</a>
				<a href="">HDCMS系统</a>
			</div>
		</div>
		<!--导航条结束-->
		
		<!--搜索区域-->
		<div id="search">
			<span>热门关键词：</span>
			<a href="">mysql</a>
			<a href="">网站开发</a>
			<a href="">高薪</a>
			<a href="">前端</a>
			<a href="">PHP整站开发</a>
			
			<form action="" method="post">
				<input type="text" placeholder="请输入搜索关键词" class="keyword"/>
				<input type="submit" value="" class="sub" />
			</form>
		</div>
		<!--搜索区域结束-->
		
		<img src="{{__TEMPLATE__}}/images/20160722165047_65119.jpg" style="display: block;margin: 0 auto;"/>
		
		<!--大区域-->
		<div class="main">
			<!--左侧-->
			<div class="left">
				<!--面包屑导航-->
				<p class="position">
					<span>当前位置：</span>
					<a href="">首页</a>
					»
					<a href="">栏目页列表</a>
				</p>
				
				<ul>
					<li>
						<a href="" class="title">男人就得有破釜沉舟的魄力！在后盾毕业后薪资20000</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">王勇同学之前从事医疗行业seo推广工作，在工作中会接触一些网站相关的修改，由于自己没有相关开发经验，往往是有想法，但自己实现不了，很是苦恼。后来也看网上的资料自学过，但自控力不好，也没有一个好的学习环境，反反复复，浪费好多时间也没学到什么。作为男人，要有破釜沉舟的气魄，后果断来后盾网参加脱产实训，毕业后在北京以20000元的薪资高薪就业，他也创下了后盾网2016年的毕业薪资纪录</p>
					</li>
					<li>
						<a href="" class="title">在网上偶然看到后盾网，培训后薪水很高，没白来</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">来自安徽的王敬龙是后盾网2015年的毕业生，当时还在上大学的他偶然在网上看到了后盾网，被后盾网丰富的学习资源所吸引，后参加了后盾网的实训班。来之前是完全的小白，经过四个半月，在后盾网学到了扎实的技术，毕业后在北京顺利高薪就业。毕业起薪8K，目前薪资15K。</p>
					</li>
					<li>
						<a href="" class="title">感谢后盾网给了扎实的技术，有了高薪的收入</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">刘欢是来自内蒙古的学员，之前从事seo搜索引擎优化工作，由于一直从事互联网工作，对PHP开发的前景非常看好，果断圈内转行。目前在北京从事PHP开发工作，月薪13K左右，闲暇之余自己还接一些外包项目，每月收入可观。</p>
					</li>
					<li>
						<a href="" class="title">一位东北女孩的PHP转型真实经历</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">黄丹丹是一名来自东北的女孩，高中学历，来后盾网参加培训前从事导购工作，感觉工作辛苦收入微薄，不是长久之计，后经朋友推荐来到后盾网参加了php培训，自己是零基础，学习期间非常刻苦，也得到了同学和老师的悉心帮助，毕业后顺利在北京高薪就业。毕业起薪9K。</p>
					</li>
					<li>
						<a href="" class="title">退伍不褪色，在互联网开发行业依然我有的一片天</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">李德旺同学初中辍学去当兵，15年退伍后想学一门能立足社会的技能，经过多方对比和朋友推荐最终选择了后盾网，来参加培训时才19岁，性格开朗乐于助人，在班里还担任了班长职务。毕业后不久便在北京顺利高薪就业，起薪8000元，目前薪资10000元。</p>
					</li>
					<li>
						<a href="" class="title">一个汽车专业学员的转型之路</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">杨胜全同学是后盾网71期（上海第2期）学员，大学学的是汽车专业，大学毕业后跟着家里做生意，但觉得不是长久之计，遂想学门技术。经朋友推荐，自学过一段时间的后盾网视频，感觉挺好，就来实训班参加了培训。毕业后在上海顺利高薪就业，毕业不到半年，目前薪资12000。</p>
					</li>
					<li>
						<a href="" class="title">摸爬滚打不如意，果断来后盾成功转型</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">于琳峰同学是后盾网71期（上海第2期）学员，大学学的是机电专业，在社会上摸爬滚打了几年，自觉没混出什么名堂。后经朋友推荐来到后盾网参加PHP培训，毕业后顺利在上海就业，试用期薪资8000.</p>
					</li>
					<li>
						<a href="" class="title">一个老程序员的互联网转型之路</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">田海燕是后盾网53期的学员，来后盾网培训之前已经从事了六七年C和C++语言的开发工作。后来看到了互联网行业的发展前景，并且自己也比较感兴趣，所以决定转行到网站开发行业。在网上搜索培训机构的时候，了解到后盾网是真正实战型的教学模式，学员都能独立开发多个大型项目，经过多方对比，最终选定后盾网。毕业后在北京以15K的薪资顺利高薪就业，感觉在后盾网学到的东西对自己的工作帮助很大。本次回校，特意为老师们送上小礼物以示感谢。</p>
					</li>
					<li>
						<a href="" class="title">天天画图没劲，果断转行PHP程序员</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">姚尧之前从事结构设计师工作，由于对当时工作和现状不满意，决定改变一下。后经了解决定来后盾网学习PHP，毕业后在北京找到了一份满意的高薪工作。</p>
					</li>
					<li>
						<a href="" class="title">看我姐夫做这行挣的钱多，而且互联网也是未来的趋势</a>
						<span class="time">[ 02-13 10:00 ]</span>
						<p class="desc">左卫川同学原来从事医疗行业，后改行PHP开发原因也很简单：“看我姐夫做这行挣的钱多，而且互联网也是未来的趋势。”目前在北京从事PHP后端开发工作，薪资8K。从零基础小白转行为程序员，虽然经历了困难，但是自己认为收获了更多。</p>
					</li>
					
				</ul>
				<!--分页-->
				<div class="pagelist">
					<a href="">首页</a>
					<a href="">1</a>
					<strong>2</strong>
					<a href="">3</a>
					<span>...</span>
					<a href="">14</a>
					<a href="">15</a>
					<a href="">16</a>
					<a href="">末页</a>
				</div>
				<!--分页结束-->
			</div>
			<!--左侧结束-->
			
			
			<!--右侧-->
			<div class="right">
				<h3>课程安排</h3>
				<dl>
					<dt><a href="">前端阶段</a></dt>
    				<dd><a href="">HTML超文本标记语言</a></dd>
    				<dd><a href="">CSS层叠样式表</a></dd>
					<dd><a href="">JavaScript动态效果</a></dd>
					<dd><a href="">jQuery框架</a></dd>
					<dd><a href="">HTML5、CSS3</a></dd>
                    <dd><a href="">混合APP开发</a></dd>
                    <dd><a href="">Angular框架</a></dd>
                    <dd><a href="">Vue.js框架</a></dd>
                    <dd><a href="">微信小程序</a></dd>
				</dl>
				<dl>
					<dt><a href="">PHP阶段</a></dt>
    				<dd><a href="">PHP初级</a></dd>
    				<dd><a href="">PHP中级</a></dd>
					<dd><a href="">PHP高级</a></dd>
					<dd><a href="">MySQL数据库</a></dd>
					<dd><a href="">独立框架开发</a></dd>
                    <dd><a href="">面向对象</a></dd>
                    <dd><a href="">linux数据库</a></dd>
                    <dd><a href="">微信开发</a></dd>
                    <dd><a href="">微信三网通项目</a></dd>
                    <dd><a href="">CMS开发</a></dd>
                    <dd><a href="">ThinkPHP框架实战</a></dd>
                    <dd><a href="">Laravel框架实战</a></dd>
                    <dd><a href="">项目性能优化</a></dd>
                    <dd><a href="">自选大项目独立开发</a></dd>
				</dl>
			</div>
			<!--右侧结束-->
		</div>
		<!--大区域结束-->
		
		<!--底部-->
		<div id="footer">
			<p>北京后盾计算机技术培训有限责任公司</p>
			<p>京ICP备12048441号-3</p>
		</div>
		<!--底部结束-->
		
	</body>
</html>
