{extend name='base'/}
{block name='content'}
<table class="table table-hover">
    <tbody>
    <tr>
        <th class="active" colspan="10">温馨提示</th>
    </tr>
    <tr>
        <td colspan="10">
            后盾网官网：<a href="http://www.houdunwang.com" target="_blank">www.houdunwang.com</a>
            后盾网论坛：<a href="http://bbs.houdunwang.com" target="_blank">bbs.houdunwang.com</a>
        </td>
    </tr>
    <tr>
        <th class="active" colspan="10">系统信息</th>
    </tr>
    <tr>
        <td>核心框架</td>
        <td colspan="5">Thinkphp</td>
    </tr>
    <tr>
        <td>版本号</td>
        <td colspan="5">1.0</td>
    </tr>
    <tr>
        <td>开发者</td>
        <td colspan="5">后盾网武斌</td>
    </tr>
    </tbody>
</table>
{/block}