*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*主体div*/
#container{
	width: 100%;
	height: 100%;
	transition: all 1s;
}
#container .box{
	width: 100%;
	height: 100%;
	
}






/*主体div结束*/
