
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488339816229'); /* IE9*/
  src: url('iconfont.eot?t=1488339816229#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488339816229') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488339816229') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488339816229#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before { content: "\f0013"; }

.icon-icon02:before { content: "\e60a"; }

.icon-shiliangzhinengduixiang4:before { content: "\e612"; }

.icon-shouyeshouye:before { content: "\e60b"; }

.icon-wode:before { content: "\e61b"; }

