@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\000031}}
* {
  margin: 0px;
  padding: 0px;
}
/*总的容器*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\000033}}
.swiper-container {
  position: relative;
}
/*音乐图标*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\000037}}
.music_logo {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background: url(../images/small/music.gif) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes zhuan {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000315}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000318}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000321}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000325}}
.music_logo #music_click {
  max-width: 40px;
  max-height: 40px;
  display: block;
  line-height: 80px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-transition: 5s;
          transition: 5s;
  -webkit-animation: zhuan 3s linear infinite;
          animation: zhuan 3s linear infinite;
}
/*每页 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000337}}
.swiper-slide {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000342}}
.one {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000345}}
.one .title {
  width: 80vw;
  height: 10vh;
  font-size: 12vw;
  text-align: center;
  line-height: 10vh;
  margin: 0 auto;
  margin-top: 15vh;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000352}}
.one .content {
  width: 60vw;
  height: 60vw;
  margin: 0 auto;
  margin-top: 10vh;
  background: #E5E6E6;
  overflow: hidden;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000358}}
.one .content .son {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 5vw;
  overflow: hidden;
  box-shadow: -5px 5px 5px 3px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000365}}
.one .content .son span {
  display: block;
  width: 40vw;
  height: 20vw;
  color: #828282;
  margin: 0 auto;
  margin-top: 8vw;
  text-align: center;
  line-height: 20vw;
  font-size: 8vw;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000375}}
.one .content .son hr {
  width: 30vw;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000379}}
.one .content .son p {
  width: 40vw;
  height: 20vw;
  color: #828282;
  font-size: 5vw;
  line-height: 6vw;
  margin: 0 auto;
  padding-top: 3vw;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000390}}
.two {
  background: url(../images/bg/bg4.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\0000393}}
.two .title {
  width: 100vw;
  height: 30vw;
  color: white;
  text-align: center;
  margin: 0 auto;
  line-height: 20vw;
  margin-top: 18vw;
  font-size: 14vw;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003100}}
.two .content {
  width: 100vw;
  height: 90vw;
  margin: 0 auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003104}}
.two .content li {
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
  position: absolute;
  list-style: none;
  text-align: center;
  line-height: 55vw;
  color: white;
  font-size: 10vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003114}}
.two .content .li1 {
  left: 22.5vw;
  top: 0vw;
  background: #f08d90;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003118}}
.two .content .li2 {
  left: 2vw;
  bottom: 0vw;
  background: rgba(44, 60, 221, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003122}}
.two .content .li3 {
  right: 2vw;
  bottom: 0vw;
  background: rgba(95, 191, 96, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003129}}
.three {
  background: url(../images/bg/bg3.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003133}}
.three .box {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003136}}
.three .box li {
  width: 90vw;
  height: 25vw;
  margin: 0 auto;
  margin-bottom: 5vh;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003141}}
.three .box li .left {
  width: 60vw;
  height: 25vw;
  float: left;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003145}}
.three .box li .left span {
  font-size: 4.5vw;
  color: #D24141;
  font-weight: 700;
  line-height: 10vw;
  margin-left: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003150}}
.three .box li .left p {
  width: 50vw;
  height: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 4vw;
  color: #4B4949;
  font-weight: 700;
  line-height: 6vw;
  text-indent: 5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003158}}
.three .box li .right {
  width: 25vw;
  position: absolute;
  right: -25vw;
  overflow: hidden;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003168}}
.four {
  background: url(../images/bg/bg5.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003171}}
.four .box {
  width: 90vw;
  height: 130vw;
  margin: 0 auto;
  margin-top: 15vw;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003176}}
.four .box li {
  list-style: none;
  width: 40vw;
  height: 55vw;
  border-radius: 10%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003181}}
.four .box li img {
  width: 20vw;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003187}}
.four .box li h3 {
  color: white;
  margin-left: 3vw;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003191}}
.four .box li p {
  color: #E7E9E9;
  font-size: 4vw;
  width: 40vw;
  line-height: 6vw;
  padding-left: 2vw;
  padding-right: 2vw;
  box-sizing: border-box;
  margin-top: 3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003199}}
.four .box .li1 {
  left: 0px;
  top: 0px;
  background: #EB5767;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003202}}
.four .box .li2 {
  right: 0px;
  top: 0px;
  background: #A1D36E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003208}}
.four .box .li3 {
  left: 0px;
  bottom: 0px;
  background: #AC94EA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003211}}
.four .box .li4 {
  right: 0px;
  bottom: 0px;
  background: #56C1E7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003214}}
.four .box .circle {
  width: 40vw;
  height: 40vw;
  border: 1px solid white;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 25vw;
  top: 40vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing4\/css\/style\.less}line{font-family:\00003221}}
.four .box .circle .circle_son {
  width: 35vw;
  height: 35vw;
  background: #FECD60;
  margin: 0 auto;
  margin-top: 1.5vw;
  border-radius: 50%;
  text-align: center;
  line-height: 35vw;
  color: #676767;
  font-size: 7vw;
  font-weight: 700;
  box-shadow: -5px 5px 5px 2px #cccccc;
}
