.hd-order {
  font-size: 14px;
  border-top: solid 3px #dd524d;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}
.hd-order .info {
  box-sizing: border-box;
  padding: 2vw;
  background: #fefefe;
  border-bottom: solid 3px #dd524d;
}
.hd-order .info .address {
  border-bottom: solid 1px #dddddd;
}
.hd-order .info .address p {
  color: #333333;
  padding-bottom: 2vw;
  box-sizing: border-box;
}
.hd-order .info .times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4vh;
  line-height: 2em;
}
.hd-order .goods {
  padding-top: 5px;
  box-sizing: border-box;
  flex: 1;
}
.hd-order .goods ul {
  display: flex;
  flex-direction: column;
}
.hd-order .goods ul li {
  border-bottom: solid 3px #dddddd;
  padding: 2vw;
}
.hd-order .goods ul li h2 {
  font-size: 14px;
  padding: 5vw 0px;
}
.hd-order .goods ul li div.pic {
  display: flex;
}
.hd-order .goods ul li div.pic img {
  width: 25vw;
  height: 25vw;
}
.hd-order .goods ul li div.pic div {
  flex: 1;
  font-size: 12px;
  color: #333333;
  padding-left: 2vw;
  line-height: 1.5em;
}
.hd-order .goods ul li div.pic div p {
  display: flex;
  justify-content: space-between;
  font-size: 5vw;
  color: #009900;
  margin-top: 10px;
}
