*{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}


#flash{
	width: 1226px;
	height: 460px;
	border: 1px solid blue;
	margin: 100px auto;
	position: relative;
}
#flash>ul{
	width: 234px;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	
}
#flash>ul>li{
	width: 234px;	
	height: 42px;
	/*border-bottom: 1px solid yellow;*/
	list-style: none;
}
#flash>ul>li>a{
	width: 100%;
	height: 42px;
	display: block;
	text-decoration: none;
}
#flash>ul>li>a span{
	line-height: 42px;
	font-size: 14px;
	color: white;
	float: left;
	text-indent: 29px;
}
#flash>ul>li>a i{
	line-height: 42px;
	font-size: 14px;
	float: right;
	color: rgba(255,255,255,0.5);
	padding-right: 25px;
}
#flash>ul>li>div{
	width: 532px;
	height: 460px;
	border: 1px solid #E0E0E0;
	background: white;
	position: absolute;
	left: 234px;
	top: 0;
	display: none;
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
#flash>ul>li:hover{
	background: #FF6700;
	
}
#flash>ul>li:hover>div{
	display: block;
	
}
#flash>ul>li>div ul.list{
	width: 266px;
	height: 460px;
	float: left;
	/*border-right: 1px solid blue;*/
	float: right;
}
#flash>ul>li>div ul.list li{
	list-style: none;
	height: 75px;
	/*border-bottom: 1px solid black;*/
}
#flash>ul>li>div ul.list li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-decoration: none;
	
}
#flash>ul>li>div ul.list li a img{
	max-width: 35px;
	max-height: 40px;
	position: absolute;
	left: 26px;
	top: 50%;
	transform: translateY(-50%);
}
#flash>ul>li>div ul.list li a span{
	line-height: 75px;
	color: #333;
	font-size: 14px;
	text-indent: 71px;
	display: block;
}
