{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            站点管理</a>
    </li>
    <li class="active">
        <a href="">站点配置</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1">站点配置</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th>配置名称</th>
                    <th width="20%">配置值</th>
                    <th >描述</th>
                </tr>
                </thead>
                <tbody>
                {foreach name='field' item='vo'}
                <tr>
                    <td>{$vo['webset_id']}</td>
                    <td>{$vo['webset_name']}</td>
                    <td>
                        <input type="text" class="form-control" value="{$vo['webset_value']}" onblur="change(this,{$vo['webset_id']})">
                    </td>
                    <td>{$vo['webset_des']}</td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
</div>
<script>
    function change(obj,webset_id) {
        //获取配置值
        var webset_value = $(obj).val();
        $.post("{:url('edit')}",{webset_id:webset_id,webset_value:webset_value},function(res){
            if(res.code)
            {
                //执行成功
                util.message(res.msg,'refresh','success');
            }else{
                //执行失败
                util.message(res.msg,'','error');
            }
        },'json')
    }
</script>
{/block}