h1.big-title {
  font-size: 35px;
  font-weight: 700;
  color: #383838;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
form {
  width: 340px;
  display: block;
  margin: 0 auto;
}
form input,
form button {
  border-radius: 0px !important;
  font-size: 16px !important;
}
.remind {
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: #A6A6A6;
  margin-top: 20px;
}
.remind a {
  color: #03a9f4;
}
.remind a:hover {
  text-decoration: none;
}
