<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./template/css/style.css"/>
    <script src="./template/js/jquery-1.7.2.min.js"></script>
    <script src="./template/js/js.js"></script>
</head>
<body>

<form method="post" action="add.php">
    <div class="all">
        <div class="main">
            <div class="addBox">
                <div class="title"><img src="./template/images/title.png" alt=""/></div>
                <textarea name="content" class="content"></textarea>
                <div class="btnBox">
                    <img src="./template/images/0.jpg" alt="" class="photo"/><input name="face" type="radio" value="0.jpg" class="ra"/>
                    <img src="./template/images/1.jpg" alt="" class="photo"/><input name="face" type="radio" value="1.jpg" class="ra"/>
                    <img src="./template/images/2.jpg" alt="" class="photo"/><input name="face" type="radio" value="2.jpg" class="ra"/>
                    <img src="./template/images/3.jpg" alt="" class="photo"/><input name="face" type="radio" value="3.jpg" class="ra"/>
                    <img src="./template/images/4.jpg" alt="" class="photo"/><input name="face" type="radio" value="4.jpg" class="ra"/>
                    <input name="author" type="text" class="author" value="昵称" /><input type="submit" value="" class="addBtn" />
                </div>
            </div>
                <?php foreach($arr as $k=>$v){?>
                <div class="contentBox">
                    <div class="photoBox"><img src="./template/images/<?php echo $v['face']?>" alt="" class="content_photo"/></div>
                    <div class="right">
                        <h3 class="content_author"><?php echo $v['author']?></h3>
                        <div class="content_content"><?php echo $v['content']?></div>
                        <div class="content_time"><?php echo date('Y-m-d H:i:s',$v['time'])?> 来自 Message board</div>
                    </div>
                    <div class="tool">
                        <ul class="tool_ul" style="float:right">
                            <li class="tool_li"><a href="" class="editBtn">编辑</a></li>
                            <li class="fg"></li>
                            <li class="tool_li"><a href="">删除</a></li>
                        </ul>
                    </div>
                </div>
                <?php }?>
        </div>
    </div>
    <div class="up">
        <a href="#"></a>
    </div>
</form>
</body>
</html>