@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\000031}}
* {
  margin: 0px;
  padding: 0px;
}
/*总的容器*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\000033}}
.swiper-container {
  position: relative;
}
/*音乐图标*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\000037}}
.music_logo {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background: url(../images/small/music.gif) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes zhuan {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000315}}
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000318}}
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000321}}
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000325}}
.music_logo #music_click {
  max-width: 40px;
  max-height: 40px;
  display: block;
  line-height: 80px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-transition: 5s;
          transition: 5s;
  -webkit-animation: zhuan 3s linear infinite;
          animation: zhuan 3s linear infinite;
}
/*每页 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000337}}
.swiper-slide {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000342}}
.one {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes huang {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000346}}
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000349}}
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes huang {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000346}}
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000349}}
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000353}}
.one .time {
  width: 20vw;
  margin-top: 8vh;
  margin-left: 5vw;
  -webkit-animation: huang 3s ease-in infinite;
          animation: huang 3s ease-in infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000358}}
.one .font1 {
  width: 50vw;
  display: block;
  margin: 0 auto;
  margin-top: -5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000363}}
.one .font2 {
  width: 90vw;
  display: block;
  margin: 0 auto;
  margin-top: 3vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000368}}
.one .love_box {
  width: 80vw;
  height: 20vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000374}}
.one .love_box .font3 {
  display: block;
  width: 80vw;
  margin: 0 auto;
  margin-top: 3vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000379}}
.one .love_box .heart {
  width: 14vw;
  position: absolute;
  left: 11vw;
  top: 5vw;
  -webkit-animation: tada 1s linear infinite;
          animation: tada 1s linear infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000386}}
.one .book {
  display: block;
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000394}}
.two {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\0000397}}
.two .top {
  width: 100vw;
  height: 40vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003103}}
.two .top .font4 {
  width: 100vw;
  display: block;
  margin: 0 auto;
  margin-top: 8vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003108}}
.two .top .earth {
  width: 20vw;
  position: absolute;
  right: 5vw;
  top: 0vh;
  -webkit-animation: tada 3s linear infinite;
          animation: tada 3s linear infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003115}}
.two .huojian {
  width: 70vw;
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003124}}
.three {
  background: url(../images/bg/bg1.jpg) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003127}}
.three .top {
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
  margin-top: 6vh;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003132}}
.three .top .black {
  width: 90vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003135}}
.three .top .font5 {
  width: 80vw;
  position: absolute;
  left: 5vw;
  top: 18vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003140}}
.three .top .font6 {
  width: 80vw;
  position: absolute;
  left: 5vw;
  top: 30vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003146}}
.three .bottom {
  width: 90vw;
  margin: 0 auto;
  margin-top: 3vh;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/weichangjing3\/css\/style\.less}line{font-family:\00003150}}
.three .bottom .font8 {
  width: 30vw;
  display: block;
  margin: 0 auto;
  margin-top: 5vw;
}
