#content {
  width: 100%;
  min-width: 1200px;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
}
#content .contentarea {
  width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
}
#content .contentarea .left {
  width: 927px;
  float: left;
  border: 1px solid #d2d0d0;
  padding: 0px 45px;
  background: #FFFFFF;
  color: #313131;
  padding-top: 15px;
}


/*左侧作品列表开始*/
/*顶部菜单开始*/
.TopNavigation .TopMenu {
  width: 100%;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background: #fff;
  line-height: 36px;
  font-size: 14px;
  color: #848e99;
}
.TopNavigation .TopMenu .allList .all {
  /*float: left;*/
 display: block;
 float: none;
}
.TopNavigation .TopMenu .allList {
  /*margin-left: 107px;*/
 overflow: hidden;
 margin-left: -28px;
 width: 880px;
}
.TopNavigation .TopMenu .allList .current_category {
  color: #4caafc;
}
.TopNavigation .TopMenu .allList a {
  color: #848e99;
  margin-left: 28px;
  white-space:nowrap;
  display: block;
  float: left;
  min-width: 50px;
  text-align: left;
}
.TopNavigation .TopMenu .allList a:hover {
  color: #4caafc;
}
/*顶部菜单结束*/



.PublicTitle {
  margin-bottom: 15px;
  height: 34px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.PublicTitle h3 {
  font-size: 28px;
  float: left;
  padding-right: 32px;
  height: 100%;
  background: #F3F6FB;
  color: #2c2f33;
  display: inline-block;
}
.PublicTitle .PublicMore {
  min-height: 32px;
  zoom: 1;
  border-bottom: 1px solid #dfe6ec;
}
.PublicTitle .PublicMore p {
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
}
.PublicTitle .PublicMore .PublicList {
  float: right;
}
.PublicTitle .PublicMore a {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  margin-left: 55px;
}
.PublicTitle .PublicMore a:hover {
  color: #009aff !important;
}

#content .contentarea .left .GoodContent{
	width: 920px;
}
#content .contentarea .left .GoodContent .List {
  min-height: 150px;
  font-size: 0;
  -webkit-text-size-adjust: none;
  margin-left: -9px;
  margin-right: -9px;
}
#content .contentarea .left .GoodContent .List li {
  display: inline-block;
  width: 284px;
  height: 291px;
  padding: 12px 10px 5px;
  font-size: 18px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
#content .contentarea .left .GoodContent .List li:hover {
  background-color: #fff;
  box-shadow: 0 0 9px 1px #ccc;
}
#content .contentarea .left .GoodContent .List li:hover img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
#content .contentarea .left .GoodContent .List li .ListContent > a {
  position: relative;
  background: #eee url(../img/loading.gif) no-repeat center center;
  display: block;
  margin-bottom: 12px;
  height: 205px;
  overflow: hidden;
}
#content .contentarea .left .GoodContent .List li .ListContent > a img {
  display: block;
  width: 100%;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  height: 100%;
}
#content .contentarea .left .GoodContent .List li .ListContent > a .SmallTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
  height: 30px;
  overflow: hidden;
}
#content .contentarea .left .GoodContent .List li .ListContent .ListBottom h3 {
  line-height: 22px;
  font-size: 16px;
  margin-top: 19px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  max-width: 100%;
}
#content .contentarea .left .GoodContent .List li .ListContent .ListBottom h3 a {
  color: #333;
}
#content .contentarea .left .GoodContent .List li .ListContent .ListBottom .row {
  line-height: 26px;
  font-size: 13px;
  color: #848e99;
  margin: 0px !important;
}
#content .contentarea .left .GoodContent .List li .ListContent .ListBottom .row a {
  color: #50a9fd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  max-width: 150px;
  float: right;
}
/*分页开始*/
.paging {
  padding-bottom: 30px;
  padding-top: 30px;
  }
.paging .pagination {
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}
.paging .pagination li a {
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 16px;
}
.paging ul li a {
  padding: 0px 11px;
  display: block;
  height: 30px;
  color: #555;
}
.paging .active {
  background: #009AFF;
  border-color: #009AFF;
}
.paging .pagination li.disabled {
	 height: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 16px;
}
.paging .active a {
  color: #fff;
}

#content .contentarea .right {
  width: 254px;
  float: right;
}
#content .contentarea .right div.lession {
  float: left;
  width: 100%;
  padding: 0px 10px 0px 10px;
  border: 1px solid #d3d1d1;
  background: #FFFFFF;
}
#content .contentarea .right div.lession h2 {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0px;
  padding-left: 7px;
}
#content .contentarea .right div.lession p {
  height: 19px;
  line-height: 19px;
}
#content .contentarea .right div.lession p span {
  font-size: 12px;
  float: left;
  color: #C11A17;
}
#content .contentarea .right div.lession p b {
  font-size: 12px;
  float: left;
  color: #323232;
  font-weight: 400;
}
#content .contentarea .right div.lession p i {
  font-size: 12px;
  float: right;
  font-style: normal;
  color: #999999;
}
#content .contentarea .right div.newvideo {
  float: left;
  margin-top: 19px;
  width: 100%;
  padding-left: 14px;
  background: #FFFFFF;
  border: 1px solid #d3d1d1;
}
#content .contentarea .right div.newvideo .headarea {
  float: left;
  width: 100%;
  background: #f8f8f8;
}
#content .contentarea .right div.newvideo .headarea h3 {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  margin: 0px;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 6px solid #05b276;
}
#content .contentarea .right div.newvideo .headarea a {
  float: right;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  color: #999999;
}
#content .contentarea .right div.newvideo .conarea {
  float: left;
  width: 100%;
  margin-top: 10px;
}
#content .contentarea .right div.newvideo .conarea ul {
  float: left;
  width: 100%;
  border-left: 1px solid #d3d1d1;
}
#content .contentarea .right div.newvideo .conarea ul li {
  margin-left: -5px;
  padding-left: 20px;
  line-height: 25px;
}
#content .contentarea .right div.newvideo .conarea ul li i {
  font-style: normal;
  padding-right: 10px;
  color: #999999;
}
#content .contentarea .right div.newvideo .conarea ul li a {
  color: #333333;
}
#content .contentarea .right div.newvideo .conarea ul li.active {
  margin-left: -5px;
  padding-left: 20px;
  line-height: 25px;
  background: url(../images/circle.jpg) no-repeat 0px 8px;
}
#content .contentarea .right .show {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 15px;
  border: 1px solid #d3d1d1;
  background: #FFFFFF;
}
#content .contentarea .right .show .headarea {
  float: left;
  width: 100%;
  background: #f8f8f8;
  border-bottom: px solid #d3d1d1;
}
#content .contentarea .right .show .headarea h3 {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  margin: 0px;
  margin-top: 10px;
  padding-left: 15px;
}
#content .contentarea .right .show .headarea a {
  float: right;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  color: #999999;
}
#content .contentarea .right .show .conarea {
  float: left;
  width: 100%;
  min-height: 200px;
  padding: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#content .contentarea .right .show .conarea li {
  float: left;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 10px;
  padding-top: 13px;
}
#content .contentarea .right .show .conarea li a {
  float: left;
  color: #333;
  font-size: 13px;
}
#content .contentarea .right .show .conarea li img {
  width: 100%;
  margin-bottom: 10px;
}
#content .contentarea .right .show .conarea li p {
  margin: 0px;
  float: left;
  width: 100%;
}
#content .contentarea .right .show .conarea li p a {
  color: #333333;
}
#content .contentarea .right .show .conarea li p.light {
  height: auto;
  color: #ff6e00;
  line-height: 20px;
}
#content .contentarea .right .show .conarea li.last {
  border-bottom: none;
  padding-bottom: 0px;
}