* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
#top {
  width: 100%;
  height: 40px;
  background: #333333;
}
#top .center {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  background: #333333;
}
#top .center .left {
  width: 545px;
  height: 40px;
  float: left;
}
#top .center .left a {
  line-height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 10px;
  position: relative;
  display: block;
  height: 40px;
  float: left;
}
#top .center .left a.first {
  padding-left: 0;
}
#top .center .left a span {
  display: block;
  width: 1px;
  height: 12px;
  background: #424242;
  position: absolute;
  right: 0;
  top: 14px;
}
#top .center .right {
  float: right;
  height: 40px;
}
#top .center .right > a {
  line-height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 10px;
  position: relative;
  display: block;
  height: 40px;
  float: left;
}
#top .center .right > a span {
  display: block;
  width: 1px;
  height: 12px;
  background: #424242;
  position: absolute;
  right: 0;
  top: 14px;
}
#top .center .right .cart {
  float: left;
  width: 120px;
  height: 40px;
  background: #424242;
  position: relative;
}
#top .center .right .cart:hover .hide {
  height: 98px;
}
#top .center .right .cart:hover > a {
  color: #ff6700;
  background: white;
  height: 41px;
  position: relative;
  z-index: 99;
}
#top .center .right .cart > a {
  display: block;
  width: 120px;
  height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
#top .center .right .cart > a i {
  margin-right: 4px;
}
#top .center .right .cart .hide {
  width: 316px;
  height: 0px;
  background: white;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  line-height: 98px;
  text-align: center;
  font-size: 12px;
  color: #424242;
  overflow: hidden;
  transition: height 0.2s;
}
#search {
  width: 1226px;
  height: 100px;
  border-top: none;
  margin: 0 auto;
  position: relative;
}
#search a.logo {
  width: 55px;
  height: 55px;
  display: block;
  background: #FF6700 url(../img/mi-logo.png) no-repeat center center;
  position: absolute;
  top: 22px;
  left: 0;
}
#search a.note5 {
  display: block;
  width: 163px;
  height: 66px;
  position: absolute;
  left: 70px;
  top: 17px;
}
#search .menu {
  width: 660px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 235px;
  z-index: 99;
}
#search .menu .top {
  display: block;
  width: 660px;
  height: 100px;
}
#search .menu .top a {
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  color: #333;
  float: left;
  padding: 0 10px;
}
#search .menu .hide {
  overflow: hidden;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 100px;
  background: white;
}
#search .menu .hide.h {
  border-top: #E0E0E0 1px solid;
  border-bottom: #E0E0E0 1px solid;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}
#search .menu .hide ul {
  width: 1226px;
  height: 229px;
  margin: 0 auto;
  position: relative;
}
#search .menu .hide ul li {
  list-style: none;
  width: 1226px;
  height: 229px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#search .menu .hide ul li > div {
  width: 204px;
  height: 100%;
  float: left;
  position: relative;
}
#search .menu .hide ul li > div .hot {
  padding: 0 20px;
  height: 20px;
  border: 1px solid ;
  float: left;
  font-size: 12px;
  line-height: 20px;
  color: #FF6700;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#search .menu .hide ul li > div a.pic {
  display: block;
  width: 100%;
  height: 96px;
  text-align: center;
  margin-top: 42px;
  border-right: 1px solid #E0E0E0;
}
#search .menu .hide ul li > div a.pic img {
  height: 96px;
}
#search .menu .hide ul li > div a.title {
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: center;
  color: #333;
  margin-top: 23px;
}
#search .menu .hide ul li > div a.price {
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: center;
  color: #ff6700;
}
#search .form {
  width: 294px;
  height: 48px;
  border: 1px solid #E0E0E0;
  position: absolute;
  right: 0;
  top: 25px;
}
#search .form.f {
  border: 1px solid #FF6700;
}
#search .form.f > input {
  border-right: 1px solid #FF6700;
}
#search .form.f .tags {
  opacity: 0;
}
#search .form.f > ul {
  display: block;
}
#search .form > input {
  width: 243px;
  height: 48px;
  border: none;
  border-right: 1px solid #E0E0E0;
  float: left;
}
#search .form .sub {
  width: 50px;
  height: 48px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search .form .sub i {
  color: #616161;
  font-size: 18px;
}
#search .form .sub:hover {
  background: #FF6700;
}
#search .form .sub:hover i {
  color: white;
}
#search .form .tags {
  height: 18px;
  position: absolute;
  top: 15px;
  right: 61px;
  opacity: 1;
  transition: opacity 0.5s;
}
#search .form .tags a {
  padding: 0 5px;
  background: #EEEEEE;
  display: block;
  height: 18px;
  float: left;
  font-size: 12px;
  color: #757575;
  margin-left: 5px;
}
#search .form > ul {
  width: 243px;
  border: 1px solid #FF6700;
  border-top: none;
  position: absolute;
  left: -1px;
  top: 49px;
  display: none;
}
#search .form > ul li {
  list-style: none;
  overflow: hidden;
}
#search .form > ul li:hover {
  background: #FAFAFA;
}
#search .form > ul li a.l {
  width: 106px;
  padding-left: 15px;
  float: left;
  display: block;
  height: 30px;
  color: #424242;
  font-size: 12px;
  line-height: 30px;
}
#search .form > ul li a.r {
  float: right;
  line-height: 30px;
  color: #b0b0b0;
  font-size: 12px;
  width: 106px;
  padding-right: 15px;
  text-align: right;
}
#flashbox {
  width: 1226px;
  height: 460px;
  border: 1px solid blue;
  margin: 0 auto;
  position: relative;
}
#flashbox .flash {
  width: 1226px;
  height: 460px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
}
#flashbox .flash .lbtn {
  position: absolute;
  width: 41px;
  height: 69px;
  left: 234px;
  top: 195px;
  display: block;
  z-index: 99;
}
#flashbox .flash .lbtn i {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#flashbox .flash .lbtn:hover {
  background: rgba(0, 0, 0, 0.2);
}
#flashbox .flash .lbtn:hover i {
  color: rgba(255, 255, 255, 0.9);
}
#flashbox .flash .rbtn {
  position: absolute;
  width: 41px;
  height: 69px;
  right: 0;
  top: 195px;
  display: block;
  z-index: 99;
}
#flashbox .flash .rbtn i {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#flashbox .flash .rbtn:hover {
  background: rgba(0, 0, 0, 0.2);
}
#flashbox .flash .rbtn:hover i {
  color: rgba(255, 255, 255, 0.9);
}
#flashbox .flash a.pic {
  display: block;
  width: 1226px;
  height: 460px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#flashbox .flash a.pic img {
  width: 100%;
  height: 100%;
}
#flashbox .flash ul {
  position: absolute;
  right: 35px;
  bottom: 25px;
}
#flashbox .flash ul li {
  list-style: none;
  width: 6px;
  height: 6px;
  float: left;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid rgba(117, 117, 117, 0.3);
}
#flashbox .flash ul li.cur {
  background: rgba(255, 255, 255, 0.4);
}
