.star:before {
  color: #d20300;
  content: ' * ';
}
a {
  text-decoration: none !important;
}
.h4,
h4 {
  font-size: 18px;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  vertical-align: middle !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.admin-top {
  background: #222222;
  margin-bottom: 10px;
}
.admin-top .navbar {
  border: 0;
  margin-bottom: 0;
}
.list-group .list-group-item.active {
  background: #428bca;
  border-color: #428bca;
}
.list-group .list-group-item.active a {
  color: #ffffff;
}
.nav.nav-tabs {
  margin-bottom: 20px;
  border-color: #428bca;
}
.nav.nav-tabs li.active a,
.nav.nav-tabs li.active a:hover,
.nav.nav-tabs li.active a:focus {
  border: 1px solid #428bca !important;
  background-color: #428bca !important;
  color: #ffffff;
}
.nav.nav-tabs li a:hover {
  background: #eeeeee !important;
  border-color: #eeeeee #eeeeee #428bca #eeeeee;
}
.nav.nav-tabs li a:focus {
  background: none;
  border-bottom: solid 1px #428bca;
}
.nav.nav-pills li a {
  font-size: 14px;
}
html,
body,
h1,
h2,
h3 {
  font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Tahoma, Arial, Helvetica, STHeiti;
}
.ng-cloak {
  display: none;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
#modalMessage {
  z-index: 10000000000;
}
.arrow-left {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #dddddd;
  left: -10px;
  top: 25px;
  z-index: 999;
}
.arrow-left:after {
  content: "";
  left: 1px;
  top: -8px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 11px solid #ffffff;
}
.arrow-top {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent #d1d1d1 transparent;
  border-width: 0px 8px 10px 8px;
  left: 50%;
  top: -10px;
  z-index: 999;
}
.arrow-top:after {
  content: "";
  left: -8px;
  top: 1px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 8px 10px 8px;
  border-bottom-color: #f3f3f3;
  border-color: transparent transparent #f3f3f3 transparent;
}
body {
  background-color: #f5f5f5;
  font-size: 14px !important;
}
body.hdcms {
  background: url('../images/bg.jpg');
  background-size: 120%;
  height: 100%;
}
table {
  table-layout: fixed;
}
div.system-container .breadcrumb {
  padding-left: 0px;
  margin: 0px 0px .5em 0px;
}
div.system-container ul.nav-pills li {
  margin-right: 10px;
}
div.system-container ul.nav-pills li a.tile {
  margin: 0px;
  padding: .5em 1em .5em 1em;
  display: block;
  width: 8em;
  text-align: center;
  background: #438384;
  color: #eeeeee;
  opacity: .8;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
}
div.system-container ul.nav-pills li a.tile:hover {
  background: #006675;
}
div.system-container ul.nav-pills li a.tile i {
  display: block;
}
div.system-container ul.nav-pills li a.active {
  opacity: .95;
  background: #006675;
}
div.system-container .breadcrumb {
  background: #f5f5f5;
}
div.system-container .breadcrumb li a {
  color: #333333;
}
div.system-container .panel .panel-footer a {
  color: #999999;
}
div.system-container h5.page-header {
  border: none;
  border-left: 0.3em #333333 solid;
  padding-left: 1em;
  margin-top: 40px;
  padding-bottom: 0px;
}
div.system-container h5.page-header:first-of-type {
  margin-top: 0px !important;
}
div.system-container a.tile {
  margin: 0.4em;
  padding: .2em 1em .5em 1em;
  display: block;
  float: left;
  width: 8em;
  text-align: center;
  background: #eeeeee;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
}
div.system-container a.tile i {
  display: block;
  font-size: 2em;
  margin: 0.3em auto 0 auto;
}
div.system-container a.tile:hover {
  background: #7dacdd;
  color: #ffffff;
}
div.system-container div.footer {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}
div.system-container div.footer a {
  color: #ffffff;
  display: inline-block;
  padding: 5px;
}
