<div class="form-group">
    <label class="col-sm-2 control-label">{{$field['title']}}</label>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control" name="{{$field['name']}}" value="{{$field['value']}}"
                   readonly="readonly">
            <div class="input-group-btn">
                <button onclick="uploadImage(this)" class="btn btn-default" type="button">选择图片</button>
            </div>
        </div>
        <div class="input-group" style="margin-top:5px;">
            <img src="{!! pic($field['value']) !!}" class="img-responsive img-thumbnail" width="150">
            <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片"
                onclick="removeImg(this)">×</em>
        </div>
    </div>
</div>