{template "content","header"}
{php $video_cache = getcache('video', 'video');}
<link href="{CSS_PATH}vms/vms.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.tools_tabs.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#html').val('{player_code('video_player',$video['channelid'],$video['vid'],622,460)}');
	$('#tag1').tabs("div.tabn1 > ul");

}) 

function copy_text(matter){
	matter.select();
	js1=matter.createTextRange();
	js1.execCommand("Copy");
	alert('复制成功！');
}

</script>

<div class="clr ct show_pg">
	<div class="crumbs"><a href="{APP_PATH}">首页</a><span> &gt; </span>{catpos($catid)} 正文</div>
	<div class="ad">
	
	<a href="http://www.phpcms.cn" title="随机广告位，欢迎访问PHPCMS.CN"><img src="http://www.phpcms.cn/statics/images/video/ad960x40.gif"></a>
	
	</div>
    <div class="lty1">
    	<div class="clr">
    <div class="zj"><h5>{$title}</h5></div>
    <div class="clr xxg">
        <div class="clr">总播放：<span id="hits"></span>  <span>|</span>  更新时间：{$inputtime}</div>
    </div>
    </div>
    	<div class="plbox">   
{if $video[vid]!=""}
{player_code('video_player',$video['channelid'],$video['vid'],622,460)}
{else}
该视频不存在，请返回！
{/if} 

		</div>
        <div class="sr"> 
		
        	<ul class="srli">
               <li>
                 	<strong>分享视频：</strong><a href="#" title="text" class=""></a>
                    <div class="clr sr_tag wp l">
                     <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://share.baidu.com/static/images/type-button-5.jpg" />
		<a class="shareCount"></a>
	</div>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6434581" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
                   </div>
                </li>
                <li style="clear:both;">
                <strong>嵌入代码：</strong>
                <input name="html" id="html" type="text" size="50" class="fz_ipt" style="margin-left:2px;" ><input type="button" class="fz_btn" value="复制" onclick="copy_text(this);"> (*非IE浏览器，请双击复制哦！)
				</li> 
            </ul>
        </div>
        <div class="clr bfj wp">
		{if $video[data]}
		{loop $video[data] $v}
         	<a href="{$v[url]}" >{$v[title]}</a>
		{/loop}
		{/if}
        </div> 
		 <div class="clr mgt10 mgb10">
			{if $allow_comment && module_exists('comment')}
      <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  
	<div class="bk10"></div>
      <div class="box">
        		<h5>评论排行</h5>
				 {pc:comment action="bang" siteid="$siteid" cache="3600"}
            	<ul class="content list blue f14 row-2">
				{loop $data $r}
                	<li>·<a href="{$r[url]}" target="_blank">{str_cut($r[title], 40)}</a><span>({$r[total]})</span></li>
					{/loop}
                </ul>
				{/pc}
        </div>
        {/if}
		 </div>
    </div>
  <div class="wp lty2">
  
  
  
    <div class="box0">
    	<div class="nav">
             <h5>上升最快的视频</h5>
        </div>
        <div class="bct">
        	<div class="lbbox nos" >
            <ul class="c1 c2">
            
{pc:content action="hits" catid="9" num="5" order="dayviews DESC" cache="3600"}
{loop $data $r}
	<li>
	<div class="clr h77">
	<a href="{$r[url]}" ><img src="{$r[thumb]}" width="104" height="65" class="l"></a>
	<div class="lh21"><a href="{$r[url]}" >{$r[title]}</a></div>
	<div class="sz"><span>评论：{get_comments(id_encode("content_$r[catid]",$r[id],$siteid))}</span></div>
	</div>
	</li> 
{/loop}
{/pc}			
				
            </ul>
            </div>
        </div>
    </div>
	
	
	
    <div class="ad">
	<a href="http://www.phpcms.cn" title="随机广告位，欢迎访问PHPCMS.CN"><img src="http://www.phpcms.cn/statics/images/video/ad318x64.gif"></a>
	
	</div>
    <div class="box0">
    	<div class="nav"><h5>精彩推荐</h5></div>
        <div class="bct">
        	<ul class="c1 c2">
			{pc:content  action="position" posid="18" catid="$catid" order="listorder DESC" num="6" return="info"}
			{loop $info $v}
                <li>
                    <div class="clr h77">
                      <a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{$v[thumb]}" width="104" height="65" class="l"></a>
                      <div class="lh21"><a href="{$v[url]}" title="{$v[title]}" target="_blank">{str_cut($v[title],22,false)}</a></div>
                      <div class="sz"><span class="shows">播放次数：{get_views('c-'.$CATEGORYS[$v[catid]][modelid].'-'.$v['id'])}</span><span>评论：{get_comments(id_encode("content_$v[catid]",$v[id],$siteid))}</span></div>
                    </div>
                </li>  
			{/loop}
			{/pc}
					
            </ul>
        </div>
    </div>
	
	 <div class="mgt10 box2">
    	<div class="nav tag3">
        	<ul class="clr col3"  id="tag1">
                <li><a href="#" class="ac">热点</a></li>
                <li><a href="#">评论</a></li>
                <li><a href="#">关注</a></li>
            </ul>
        </div>
        <div class="bct tabn1">
        	<ul class="uli4 mg10">
			{pc:content action="hits" catid="9" num="10" order="views DESC"}
			{loop $data $r}
 			{php $ids = explode('-',$r[hitsid]); $pic = get_pic($ids[2],$r[catid]);}
 				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$pic[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
        	<ul class="uli4 mg10 hidden">
			{pc:comment action="bang" num="9" cache="0"}
			{loop $data $r}
				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45,false)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
        <ul class="uli4 mg10 hidden">
			{pc:content action="hits" catid="9" num="10" order="views DESC"}
			{loop $data $r}
				{if $n==1}
					<li class="p_r">
						  <div class="l"><span class="bs">1</span><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="106" height="75"></a></div>
						  <div class="lh18"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,false)}</a></div>
						  <div>{str_cut($r[description],45,false)}</div>
					</li>
				{else}
					<li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],44,false)}</a></li>
				{/if}			
 			{/loop}
			{/pc}
          </ul>
		  
		  
        </div>
    </div>
	
	
  </div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script language="JavaScript">
<!--
//切换地址
function show_url(id) {
	var local_value = $('#url').val();
	if(id == 1){
		$('#url').val('');
	}else{
		
	}
 	var local = 'local'+id;
	var remote = 'remote'+id;
	
	var remote_value = $('#'+remote).val();
	$.get('index.php', {m:'cloudhost', c:'bucket', a:'ChangeBucket', local:local_value,remote:remote_value, id:id, time:Math.random()}, function (data){
		if(data=='ok'){
			alert('记录修改成功！');
		}else{
			alert('修改失败！');
		}
	});  
}
//--> 
</script>
{template "content","footer"}
