<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>栏目页封面</title>
		<link rel="stylesheet" type="text/css" href="{{__TEMPLATE__}}/css/list_default.css"/>
		<script src="{{__TEMPLATE__}}/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{__TEMPLATE__}}/js/list_default.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<!--头部-->
		<div id="head">
			<img src="{{__TEMPLATE__}}/images/logo.jpg" class="logo" />
			<ul class="ad">
				<li>顶尖PHP培训机构</li>
				<li style="color: #ee782f;">IT技能培训首选后盾网！</li>
			</ul>
			<div class="right">
				<span>全国抢座热线</span>
				<p>400-682-3231</p>
			</div>
		</div>
		<!--头部结束-->
		<!--导航条-->
		<div id="menu">
			<div class="center">
				<a href="" class="cur">后盾首页</a>
				<a href="">PHP语言</a>
				<a href="">HTML标记语言</a>
				<a href="">CSS样式</a>
				<a href="">JavaScript</a>
				<a href="">Mysql数据库</a>
				<a href="">Linux系统</a>
				<a href="">HDPHP框架</a>
				<a href="">HDCMS系统</a>
			</div>
		</div>
		<!--导航条结束-->
		
		<!--搜索区域-->
		<div id="search">
			<span>热门关键词：</span>
			<a href="">mysql</a>
			<a href="">网站开发</a>
			<a href="">高薪</a>
			<a href="">前端</a>
			<a href="">PHP整站开发</a>
			
			<form action="" method="post">
				<input type="text" placeholder="请输入搜索关键词" class="keyword"/>
				<input type="submit" value="" class="sub" />
			</form>
		</div>
		<!--搜索区域结束-->
		
		<img src="{{__TEMPLATE__}}/images/20160722165047_65119.jpg" style="display: block;margin: 0 auto;"/>
		
		<!--大区域-->
		<div class="main">
			<!--左侧-->
			<div class="left">
				<!--面包屑导航-->
				<p class="position">
					<span>当前位置：</span>
					<a href="">首页</a>
					»
					<a href="">栏目封面</a>
				</p>
				<!--推荐信息-->
			<!--这个轮播图非常聪明，只需要向ul里遍历li数据即可。其他的事情js帮你搞定-->
			<div id="factory">
				<div class="line"></div>
				<img src="{{__TEMPLATE__}}/images/tuijian.jpg" class="title" />
				<img src="{{__TEMPLATE__}}/images/ico_l01.jpg" class="icon1" />
				<img src="{{__TEMPLATE__}}/images/ico_r01.jpg" class="icon2" />
				<div class="center">
					<ul>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/1.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/2.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/3.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/5.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/6.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/11.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/4.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/10.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/9.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/8.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
					<li>
						<img src="{{__TEMPLATE__}}/images/jinqi/7.jpg" />
						<a href="">后盾毕业学员自发赠送感恩锦旗</a>
					</li>
				</ul>
				</div>
			</div>
			<img src="{{__TEMPLATE__}}/images/ge02.jpg" id="shadow" />
				<!--推荐信息结束-->
			
			<div class="box">
				<h2>后盾学员评价</h2>
				<ul>
					<li>
						<a href="">认识后盾以及在后盾的学习ing...........</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">写给走在自学路上同学的一些话|焊管设备推荐</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">关于自学还是选择培训机构的一些想法</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">后盾网2016中秋佳节长城励志行</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">【后盾学员真实一天】献给正在奋斗的你</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">众志成城，勇攀高峰</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">蛰伏在后盾，见证我们的成长。</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">[2个月学习感受] 我为自己的未来代言</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">感觉后盾人老师和团队，我的学习如此轻松！</a>
						<span class="time">2016-01-09</span>
					</li>
				</ul>
			</div>
			
			<div class="box">
				<h2>后盾学员评价</h2>
				<ul>
					<li>
						<a href=""> 一位东北女孩的PHP转型真实经历</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href=""> 感谢后盾网给了扎实的技术，有了高薪的收入</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">同学在后盾网毕业后月薪很高</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">后盾网祝大家新年快乐！鸡年大吉</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">17岁零基础小白学员逆袭成为PHP程序员</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">在后盾网学完前端之后</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">入行多年，来后盾实训班继续深造</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">做销售不如有技术傍身，来后盾一起成长</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">原来我是游戏宅男，来后盾需求突破</a>
						<span class="time">2016-01-09</span>
					</li>
				</ul>
			</div>
			
			<div class="box">
				<h2>后盾学员评价</h2>
				<ul>
					<li>
						<a href="">传统行业比较辛苦，而且薪资低，果断转入IT业</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">来后盾网的一个月</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">正宗80后，php比较火，后盾非常靠谱</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">一个团队拓展教练的PHP转型之路</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href=""> 一个团队拓展教练的PHP转型之路</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">大男人 毕业了得独立，学门真本事，找个好工作</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">对技术感兴趣，在后盾网实现了自己的高薪愿望</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">来到后盾一个月的感触！</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">这一阶段的学习感悟</a>
						<span class="time">2016-01-09</span>
					</li>
				</ul>
			</div>
			
			
			<div class="box">
				<h2>后盾学员评价</h2>
				<ul>
					<li>
						<a href="">大学学的只是皮毛，学长推荐来后盾深造</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">原来的生活枯燥乏味，来后盾寻求变化</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">我朋友和妹夫都在后盾拿到了高薪，我也加油！</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">工作两个月即当上项目负责人的后盾毕业学员</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">毕业六年，来后盾我只追求高薪未来</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">后盾网 圆你高薪it梦 不服来战</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">在后盾学习的心得</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">做了多年运营，还是喜欢踏实做技术</a>
						<span class="time">2016-01-09</span>
					</li>
					<li>
						<a href="">在"后盾大家庭"学习心得</a>
						<span class="time">2016-01-09</span>
					</li>
				</ul>
			</div>
			
			</div>
			<!--左侧结束-->
			
			
			<!--右侧-->
			<div class="right">
				<h3>课程安排</h3>
				<dl>
					<dt><a href="">前端阶段</a></dt>
    				<dd><a href="">HTML超文本标记语言</a></dd>
    				<dd><a href="">CSS层叠样式表</a></dd>
					<dd><a href="">JavaScript动态效果</a></dd>
					<dd><a href="">jQuery框架</a></dd>
					<dd><a href="">HTML5、CSS3</a></dd>
                    <dd><a href="">混合APP开发</a></dd>
                    <dd><a href="">Angular框架</a></dd>
                    <dd><a href="">Vue.js框架</a></dd>
                    <dd><a href="">微信小程序</a></dd>
				</dl>
				<dl>
					<dt><a href="">PHP阶段</a></dt>
    				<dd><a href="">PHP初级</a></dd>
    				<dd><a href="">PHP中级</a></dd>
					<dd><a href="">PHP高级</a></dd>
					<dd><a href="">MySQL数据库</a></dd>
					<dd><a href="">独立框架开发</a></dd>
                    <dd><a href="">面向对象</a></dd>
                    <dd><a href="">linux数据库</a></dd>
                    <dd><a href="">微信开发</a></dd>
                    <dd><a href="">微信三网通项目</a></dd>
                    <dd><a href="">CMS开发</a></dd>
                    <dd><a href="">ThinkPHP框架实战</a></dd>
                    <dd><a href="">Laravel框架实战</a></dd>
                    <dd><a href="">项目性能优化</a></dd>
                    <dd><a href="">自选大项目独立开发</a></dd>
				</dl>
			</div>
			<!--右侧结束-->
		</div>
		<!--大区域结束-->
		
		<!--底部-->
		<div id="footer">
			<p>北京后盾计算机技术培训有限责任公司</p>
			<p>京ICP备12048441号-3</p>
		</div>
		<!--底部结束-->
		
	</body>
</html>
