<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
</head>
<body>
<div id="hdcms">
    <h1 v-if="status">后盾人</h1>
    <h2 v-show="status">houdunren.com</h2>
    <input type="checkbox" v-model="status">
</div>
<script>
    var app = new Vue({
        el: '#hdcms',
        data: {
            status: true
        }
    });
</script>
</body>
</html>