* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
a {
  text-decoration: none;
}
#top {
  width: 100%;
  height: 40px;
  background: #333333;
}
#top .center {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  background: #333333;
}
#top .center .left {
  width: 545px;
  height: 40px;
  float: left;
}
#top .center .left a {
  line-height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 10px;
  position: relative;
  display: block;
  height: 40px;
  float: left;
}
#top .center .left a.first {
  padding-left: 0;
}
#top .center .left a span {
  display: block;
  width: 1px;
  height: 12px;
  background: #424242;
  position: absolute;
  right: 0;
  top: 14px;
}
#top .center .right {
  float: right;
  height: 40px;
}
#top .center .right > a {
  line-height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 10px;
  position: relative;
  display: block;
  height: 40px;
  float: left;
}
#top .center .right > a span {
  display: block;
  width: 1px;
  height: 12px;
  background: #424242;
  position: absolute;
  right: 0;
  top: 14px;
}
#top .center .right .cart {
  float: left;
  width: 120px;
  height: 40px;
  background: #424242;
  position: relative;
}
#top .center .right .cart:hover .hide {
  height: 98px;
}
#top .center .right .cart:hover > a {
  color: #ff6700;
  background: white;
  height: 41px;
  position: relative;
  z-index: 99;
}
#top .center .right .cart > a {
  display: block;
  width: 120px;
  height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
#top .center .right .cart > a i {
  margin-right: 4px;
}
#top .center .right .cart .hide {
  width: 316px;
  height: 0px;
  background: white;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  line-height: 98px;
  text-align: center;
  font-size: 12px;
  color: #424242;
  overflow: hidden;
  transition: height 0.2s;
}
#search {
  width: 1226px;
  height: 100px;
  border: 1px solid purple;
  border-top: none;
  margin: 0 auto;
  position: relative;
}
#search a.logo {
  width: 55px;
  height: 55px;
  display: block;
  background: #FF6700 url(../img/mi-logo.png) no-repeat center center;
  position: absolute;
  top: 22px;
  left: 0;
}
#search a.note5 {
  display: block;
  width: 163px;
  height: 66px;
  position: absolute;
  left: 70px;
  top: 17px;
}
#search .menu {
  width: 660px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 235px;
}
#search .menu .top {
  display: block;
  width: 660px;
  height: 100px;
}
#search .menu .top a {
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  color: #333;
  float: left;
  padding: 0 10px;
}
