
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1483703118500'); /* IE9*/
  src: url('../font/iconfont.eot?t=1483703118500#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1483703118500') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1483703118500') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1483703118500#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\3433"; }

.icon-tao:before { content: "\f0125"; }

